[2015-12-17 18:53] gordonbrander commented on #784
I think we may want to create models for these buttons to store animation properties.

[2015-12-22 21:27] gordonbrander commented on #784
Fixed by https://github.com/mozilla/browser.html/pull/786. Instead of taking this approach, I redesigned the tab and + button to always be overlays on the webviews. This side-steps the problem altogether.

[2015-12-22 21:27] #784 closed

[2016-01-04 22:28] gordonbrander opened #788 "Hide and show webviews without z-index"
`z-index` should not be used when hiding/showing webviews (https://github.com/mozilla/browser.html/blob/master/src/browser/web-view.js#L293-L300). It causes stacking issues in Gecko and Servo. We should use `pointer-events: none` and `opacity` or `visibility` instead (https://github.com/paulrouget/perseptive-skeleton/blob/master/main.css#L72).

[2016-01-04 22:32] gordonbrander commented on #788
Aha! The z-index change was introduced for the cross-fading-between-tabs animation to work properly.

[2016-01-05 18:34] gordonbrander opened #789 "Add tab close button to perspective-ui"

[2016-01-05 21:55] gordonbrander opened #790 "Handle window.open and _blank"
This used to be handled. We need to handle it again.

[2016-01-06 00:12] gordonbrander commented on #603
No longer applies to master.

[2016-01-06 00:12] #603 closed

[2016-01-06 00:13] gordonbrander commented on #667
No longer relevant, since we switched to vdom. cc @Gozala.

[2016-01-06 00:13] #667 closed

[2016-01-06 00:14] #557 closed

[2016-01-06 02:38] gordonbrander opened #793 "Create mozilla.github.io/browserhtml"
We should create a splash page for the project.

[2016-01-06 02:39] gordonbrander commented on #793
First-pass sketch ![artboard 1 copy 18](https://cloud.githubusercontent.com/assets/58421/12133599/9b73b60a-b3db-11e5-8459-554c2db1847a.png)

[2016-01-06 18:10] gordonbrander commented on #793
(the screenshot in the browser is TBD... we should animate it)

[2016-01-06 18:15] gordonbrander opened #794 "Add slack badge to README.md"
We should add a Slack badge to the README https://github.com/rauchg/slackin

[2016-01-06 18:19] #794 closed

[2016-01-06 19:15] gordonbrander opened #796 "Create full-screen window control sprite"
From https://github.com/mozilla/browser.html/pull/795#issuecomment-169421862

@paulrouget do we plan on doing window controls in HTML or with native code? Will this be different between Gecko and Servo?

[2016-01-06 20:46] gordonbrander opened #798 "Add gif of UI to README"
Because it would be cool!

[2016-01-06 21:00] gordonbrander commented on #625
No longer relevant. We now use Flow.

[2016-01-06 21:00] #625 closed

[2016-01-07 00:35] paulrouget commented on #796
For Gecko, we can choose between HTML or native. For Servo, it's only native for now.

[2016-01-07 00:51] gordonbrander commented on #796
Maybe we should do native for both? @paulrouget is this hard to do in Gecko? Is it a switch we can flip?

[2016-01-07 01:35] paulrouget commented on #796
Not too hard. I can look at this tomorrow.

[2016-01-07 02:30] #798 closed

[2016-01-07 11:05] paulrouget commented on #796
https://bugzilla.mozilla.org/show_bug.cgi?id=1237500

[2016-01-07 18:30] #789 closed

[2016-01-07 18:31] gordonbrander opened #802 "Animate close button on tabs"
Follow up for https://github.com/mozilla/browser.html/issues/789.

[2016-01-07 19:06] Gozala opened #803 "Fix issue with retaining a focus"
Following scenario does not work and is quite tricky:
1. Input has a focus.
2. User clicks elsewhere (but we would like to retain focus)
3. We set focus back on the input.

In such case we end up in a situation where DOM state and Model state are out of sync, because  we updated model state from  `focused` -> `blurred` - `focused` in the same animation frame, so when we render input previous state

[2016-01-07 23:37] gordonbrander opened #806 "Shouldn't be able to hit + button when sidebar is pinned"
Bug: we currently hide the sidebar toolbar, but don't do `pointer-events: none` when hidden.

[2016-01-08 03:34] glennw commented on #562
@paulrouget https://github.com/glennw/webrender/issues/124 is fixed now.

[2016-01-08 18:51] gordonbrander opened #807 "Clicking tab when sidebar is pinned results in brief expansion"
This is a regression introduced by the refactor https://github.com/mozilla/browser.html/commit/2579cb38d8779c7b766ce208b24b9abfb230bad1.

[2016-01-08 19:38] gordonbrander opened #808 "show-tabs -> create-webview -> show-webview should not zoom"
`show-tabs -> create-webview -> show-webview` should not zoom.

Steps to reproduce:

1. Enter `show-tabs` mode
2. Click the `+` button in the sidebar (transitions to `create-webview`)
3. Hit `esc` (transitions to `show-webview`, webviews zoom)

Webviews should be shown immediately without zoom animation.

Regression introduced by https://github.com/mozilla/browser.html/commit/2579cb38d8779c7b766ce

[2016-01-08 21:06] Gozala opened #809 "Enable browser updater that has being disabled in new prototype"

[2016-01-08 21:07] Gozala opened #810 "Add history suggestions to the awesome bar"

[2016-01-08 21:39] #807 closed

[2016-01-08 21:44] gordonbrander opened #812 "Clicking tab in `show-tabs` no longer zooms in to webview"
<strike>Regression from https://github.com/mozilla/browser.html/commit/d96b182dc77fa9af05e55faacf528380df8c0f03</strike>. Actually this was a regression from the big merge.

[2016-01-08 22:08] Gozala commented on #812
This was actually regression from https://github.com/mozilla/browser.html/commit/2579cb3

[2016-01-08 22:09] #812 closed

[2016-01-08 22:18] #808 closed

[2016-01-08 23:33] #806 closed

[2016-01-08 23:36] Gozala commented on #747
@gordonbrander when do you thing would be a good time for me to work on this ?

[2016-01-08 23:46] Gozala commented on #747
Pasting some relevant discussion that happened on Slack

const slideIn = transition([ [0, { y: -200}], [100, {y: 200}] ])
Transition.init(slideIn, 200)
[code]

​> [5:02]

[2016-01-08 23:55] Gozala commented on #796
What is the benefit of using native controls on gecko ? Presumably we want non-native ones in servo as well so I don't think there is real benefit to using native controls in gecko (sorry @paulrouget for commenting after you already wrote a patch).

What would be helpful though is to have a way of telling if we can use custom controls or not so we can adjust code base accordingly.

[2016-01-09 00:10] gordonbrander commented on #796
The goal is to reduce the difference between Gecko and Servo. Since adding window control APIs to Servo is work and the payoff is small I think we should go with native controls for now. Not to say we can't build window control APIs into Servo later, just that other areas of Servo work are higher priority atm.

[2016-01-11 17:11] Gozala commented on #809
I've started work on this on Friday but was unable to finish. Picking up where I left it off.

[2016-01-12 01:05] #809 closed

[2016-01-12 01:08] Gozala commented on #796
@gordonbrander I'm not arguing with that, I just think that leaving gecko as is, is a better option. As we already have a working code that handles each state. In servo our controls are just overlaid with native ones (until we get to fix that).

[2016-01-12 01:14] Gozala commented on #793
Should we just repurpose http://mozilla.github.io/browser.html/ ? We could use `http://mozilla.github.io/browser.html/main.html` or something like that for actual browser.

[2016-01-12 01:19] #776 closed

[2016-01-12 01:21] Gozala commented on #778
I believe this was fixed by #795

[2016-01-12 01:21] #778 closed

[2016-01-12 01:23] Gozala commented on #777
I believe it was fixed by #795. Please reopen if you're able to reproduce.

[2016-01-12 01:23] #777 closed

[2016-01-12 01:24] Gozala commented on #772
I believe this was fixed by #795 or I'm unable to reproduce it. If you can please reopen and provide steps to reproduce.

[2016-01-12 01:24] #772 closed

[2016-01-12 01:25] Gozala commented on #767
I thought it was a feature :)

[2016-01-12 01:29] Gozala commented on #605
What timeout ? We don't have any timeouts in other case. We change an active tab when you release `ctrl` key pretty much how OS X does it but with `cmd` key.. If you never release you'll stay in `select-web-view` as long as you keep `ctrl` pressed.

I'm going to close this, but feels free to reopen if you'd like to do something here. Closing because this way if we need to do more it will likely to

[2016-01-12 01:29] #605 closed

[2016-01-12 01:35] Gozala commented on #426
@gordonbrander I think there are two things to consider here:

1. We need to update sprites to render `+` in a green button.
2. This seems to conflict with what you want to do in #796
3. `window.resizeTo(window.screen.availWidth, window.screen.availHeight);` seems to do nothing at all, I imagine it's just not implemented by graphene /cc @paulrouget

I think it's still good idea to hook up visuals

[2016-01-12 01:40] Gozala commented on #393
BTW it seems that OSX does not allow setting `Browser.html.app` as a default browser, I presume that has something to do with `.html` in the application name.

[2016-01-12 02:34] Gozala opened #818 "Opening urls from other apps in browser.html is broken"
This currently relates to following issues:
1. [x] Our window open handler is regressed at some point.
2. [ ] OSX does not like application that contain `.` in them.

[2016-01-12 02:39] Gozala commented on #818
For the second issue we need to rename application to remove `.` character. @paulrouget @gordonbrander let's discuss that tomorrow.

[2016-01-12 02:48] Gozala commented on #245
No longer happens, presumably because #795 fixed all (to my knowledge) cases where iframe was not getting a focus back.

[2016-01-12 02:48] #245 closed

[2016-01-12 02:49] Gozala commented on #206
This is no longer the case, presumably because because both design and implementation have changed significantly.

[2016-01-12 02:49] #206 closed

[2016-01-12 04:32] gordonbrander commented on #426
Yup, this is in conflict with #796. Closing in favor of #796.

[2016-01-12 04:32] #426 closed

[2016-01-12 17:46] Gozala commented on #637
This is no longer the case.

[2016-01-12 17:46] #637 closed

[2016-01-12 17:47] Gozala commented on #624
Does not seem to affect performance so we can close it.

[2016-01-12 17:50] Gozala commented on #658
Warnings now capture all of the time from spend from receiving an event to actually rendering it.

[2016-01-12 17:50] #658 closed

[2016-01-12 17:51] Gozala commented on #671
Feel free to reopen if yo have more details on how to reproduce.

[2016-01-12 17:51] #671 closed

[2016-01-12 17:54] Gozala commented on #639
My understanding is there are no immediate plans to implementing new browser API, until that changes designing such a new API is just a waste of time so, I'm closing this.

We can start new thread when this work will be more relevant.

[2016-01-12 17:54] Gozala commented on #675
This was fixed.

[2016-01-12 17:54] #675 closed

[2016-01-12 17:57] #639 closed

[2016-01-12 17:58] Gozala commented on #632
This issue is obsolete in a new design.

[2016-01-12 17:58] #632 closed

[2016-01-12 17:58] #624 closed

[2016-01-12 17:59] Gozala commented on #566
Closing this issue as I don't believe we

[2016-01-12 18:00] #566 closed

[2016-01-12 18:01] Gozala commented on #564
No need to keep this open on our side as we can't really do anything about it.

[2016-01-12 18:01] #564 closed

[2016-01-12 18:01] Gozala commented on #553
I don't think we're considering to fix this anytime soon so closing this until then.

[2016-01-12 18:01] #553 closed

[2016-01-12 18:02] Gozala commented on #568
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:02] #568 closed

[2016-01-12 18:03] Gozala commented on #567
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:03] #567 closed

[2016-01-12 18:03] Gozala commented on #458
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:03] #458 closed

[2016-01-12 18:03] Gozala commented on #412
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:03] #412 closed

[2016-01-12 18:04] Gozala commented on #382
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:04] #382 closed

[2016-01-12 18:05] Gozala commented on #571
Our target runtime is on Servo so no point in keeping gecko issues open. We would like to implement gestures in Servo but keeping this issue open is not going to help moving that forward.

[2016-01-12 18:05] Gozala commented on #380
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:05] #380 closed

[2016-01-12 18:06] Gozala commented on #325
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:07] Gozala commented on #386
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:07] #386 closed

[2016-01-12 18:09] #613 closed

[2016-01-12 18:13] Gozala commented on #542
I think this not as relevant right now as it used to be. Let's reboot this conversation once we have more of it working on servo.

[2016-01-12 18:13] #542 closed

[2016-01-12 18:14] Gozala commented on #524
Do we still intend on animating something in a new design ? If so @gordonbrander can you please provide some visuals ?

[2016-01-12 18:15] Gozala commented on #508
New UI works differently.

[2016-01-12 18:15] #508 closed

[2016-01-12 18:16] Gozala commented on #505
We no longer make use of executeScritp

[2016-01-12 18:16] #505 closed

[2016-01-12 18:17] Gozala commented on #500
I don't think we need to keep this open.

[2016-01-12 18:17] #500 closed

[2016-01-12 18:18] Gozala commented on #473
This was fixed.

[2016-01-12 18:18] #473 closed

[2016-01-12 18:19] Gozala commented on #432
Our target runtime is on Servo so no point in keeping this gecko issues open.

[2016-01-12 18:19] #432 closed

[2016-01-12 18:20] Gozala commented on #423
I believe it was for previous design, currently we have fade over animation.

[2016-01-12 18:20] #423 closed

[2016-01-12 18:21] Gozala commented on #411
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:21] #411 closed

[2016-01-12 18:21] Gozala commented on #409
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:21] #409 closed

[2016-01-12 18:23] Gozala commented on #408
This is cool, but unlikely that we're going to work on this soon. Either way we can create a new issue once related work is on schedule.

[2016-01-12 18:23] #408 closed

[2016-01-12 18:23] #403 closed

[2016-01-12 18:24] Gozala commented on #402
This issue does not help us yet. I'll bring up discussion about tests in the weekly meeting instead. So if we think our design is stable enough we can plan a work of adding tests.

[2016-01-12 18:24] #402 closed

[2016-01-12 18:25] Gozala commented on #400
Was fixed at some point.

[2016-01-12 18:25] #400 closed

[2016-01-12 18:25] Gozala commented on #395
This issue is very old, we no longer even have that file. Closing!

[2016-01-12 18:25] #395 closed

[2016-01-12 18:26] Gozala commented on #390
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:26] #390 closed

[2016-01-12 18:26] Gozala commented on #378
No longer have seen it, so I'm going to close it.

[2016-01-12 18:26] #378 closed

[2016-01-12 18:27] Gozala commented on #372
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:27] #372 closed

[2016-01-12 18:28] Gozala commented on #369
This issue was for old interface, and in new one we do some color matching already.

[2016-01-12 18:28] #369 closed

[2016-01-12 18:30] Gozala commented on #368
We would like to make search faster, but keeping this issue open won't contribute to getting there sooner.  Closing it!

[2016-01-12 18:30] #368 closed

[2016-01-12 18:31] Gozala commented on #359
This is obsolete now.

[2016-01-12 18:31] #359 closed

[2016-01-12 18:32] Gozala commented on #355
@paulrouget I assume that keeping this issue open here is not going to help & there for close it. Feel free to reopen if you disagree.

[2016-01-12 18:32] #355 closed

[2016-01-12 18:32] Gozala commented on #351
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:32] #351 closed

[2016-01-12 18:33] Gozala commented on #317
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:33] #317 closed

[2016-01-12 18:34] Gozala commented on #316
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:34] #316 closed

[2016-01-12 18:34] Gozala commented on #315
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:34] #315 closed

[2016-01-12 18:35] #293 closed

[2016-01-12 18:35] Gozala commented on #266
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:35] #266 closed

[2016-01-12 18:35] Gozala commented on #263
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:35] #263 closed

[2016-01-12 18:36] Gozala commented on #255
Have not seen it in a while.

[2016-01-12 18:36] #255 closed

[2016-01-12 18:36] Gozala commented on #239
Our target runtime is on Servo so no point in keeping gecko issues open.

[2016-01-12 18:36] #239 closed

[2016-01-12 18:38] Gozala commented on #247
I have not noticed this in a while.

[2016-01-12 18:38] #247 closed

[2016-01-12 18:38] Gozala commented on #179
This is fixed.

[2016-01-12 18:38] #179 closed

[2016-01-12 18:38] #138 closed

[2016-01-12 18:39] Gozala commented on #105
No point in keeping this open until we start supporting other OSs.

[2016-01-12 18:39] #105 closed

[2016-01-12 18:39] Gozala commented on #97
Not as relevant any more.

[2016-01-12 18:39] #97 closed

[2016-01-12 18:40] Gozala commented on #60
It is possible, but we'll deal with it when such work is on schedule.

[2016-01-12 18:40] #60 closed

[2016-01-12 18:41] #56 closed

[2016-01-12 18:41] Gozala commented on #48
So far we only target OSX.

[2016-01-12 18:41] #48 closed

[2016-01-12 18:42] Gozala commented on #47
Let's reopen when we actually work on this.

[2016-01-12 18:42] #47 closed

[2016-01-12 18:45] Gozala commented on #38
Do we need to keep this open ? I no longer see this issue.

[2016-01-12 18:45] #38 closed

[2016-01-12 18:46] Gozala commented on #300
We're unlikely to track this down on Gecko, so maybe we should close it unless we have a reproducible test case, in which case it still would make more sense in bugzilla.

[2016-01-12 18:46] #300 closed

[2016-01-12 18:48] Gozala commented on #16
@paulrouget do we need to keep this issue open ? Or do we plan on doing anything with this issue ? If not I think we should close it.

[2016-01-12 18:48] #16 closed

[2016-01-12 18:50] Gozala opened #822 "About settings page no longer works."
Fix `about:settings` page.

[2016-01-12 19:11] Gozala opened #823 "Bring back session restore."

[2016-01-12 19:12] Gozala opened #824 "Make logger configurable."

[2016-01-12 21:18] gordonbrander commented on #325
I'm pretty sure this is not a Gecko issue, but a JS issue. Our current front-end no longer opens any links in background on command click. We should implement this. Renaming bug.

[2016-01-12 22:42] gordonbrander commented on #767
In the current version, dragging also sometimes doesn't work. The behavior is inconsistent.

[2016-01-12 22:44] gordonbrander commented on #793
I think it might make more sense to create a GH organization so we can have multiple repos (browser, website, libraries). I've registered https://github.com/browserhtml.

[2016-01-13 16:54] gordonbrander opened #825 "Do not use console.group"
This is not yet supported in Servo.

[2016-01-13 17:21] gordonbrander opened #826 "Fix dotted line around input in Servo"

[2016-01-13 17:39] gordonbrander commented on #825
Fixed by https://github.com/mozilla/browser.html/commit/a782f2d1f0ed126d6f22b961b78e99e1c5c82ac6.

[2016-01-13 17:39] #825 closed

[2016-01-13 18:05] gordonbrander commented on #571
We still want gestures in Servo and we need to track this somewhere. Let's keep this open until this is tracked somewhere else (Servo repo?).

@paulrouget since you're tracking Servo issues, I defer to you.

[2016-01-13 18:06] gordonbrander commented on #818
@Gozala what was the outcome of our discussion?

[2016-01-14 00:38] glennw commented on #562
@paulrouget https://github.com/glennw/webrender/issues/134 is fixed - however the bug fix was specific to perspective(0) - there is probably still bugs with real (nested) perspective values. I'll be working on those today and tomorrow.

[2016-01-14 03:38] glennw commented on #562
@paulrouget https://github.com/glennw/webrender/issues/137 is fixed.

[2016-01-15 01:04] glennw commented on #562
@paulrouget https://github.com/glennw/webrender/issues/136 is fixed.

[2016-01-15 10:01] Gozala opened #828 "Checkboxes sometimes don't update"
It looks like there is some issue with `input[type=checkbox]` elements, more specifically if you toggle them from the ui first and then updated value was reflected on the state checkbox remains in previous state.

[2016-01-15 10:08] Gozala commented on #828
Ok it looks like a gecko bug (or maybe an HTML spec bug ?). So what happens is following:

1. Let's say initially our model looks like  `{isChecked: false}`, there for rendered checkbox is unchecked.
2. If user clicks the checkbox it get's checked and state is modified to `{isChecked: true}` which causes `checked='true'` attribute to be set on the view.
3. Say state was updated to `{isChecked: fal

[2016-01-15 10:09] Gozala commented on #828
I have realize new version of virtual-don-driver to resolve this issue:
https://github.com/Gozala/reflex-virtual-dom-driver/releases/tag/0.0.3

[2016-01-15 10:12] #828 closed

[2016-01-15 22:48] #826 closed

[2016-01-16 00:29] gordonbrander opened #833 "Servo doesn't support mozSettings API"
@Gozala @paulrouget do you know if there is any way to shim this or work around?

<img width="682" alt="screen shot 2016-01-15 at 16 28 02" src="https://cloud.githubusercontent.com/assets/58421/12368886/078b1e84-bba5-11e5-87fa-65375a4ecd96.png">

[2016-01-18 03:28] paulrouget commented on #833
Why do we use the settings again? To configure some debug/devtools options, right? I don't think we want to go this route servo. We will eventually get a runtime, which will have an Electron-like API to configure these debug/devtools options (so nothing at the window level).

So we probably just want to bail when there's no settings api.

[2016-01-19 01:59] paulrouget opened #834 "Use input event"
input events are now supported in Servo. We should remove the `keyup` workaround.

[2016-01-19 17:44] Gozala opened #835 "Create an about:repl for quick JS hacks in servo."

[2016-01-19 17:49] Gozala opened #836 "Make simple tool to render app in specific state"
Likely it will be for servo only.

[2016-01-19 18:44] gordonbrander commented on #674
@Gozala is this out-of-date? Can it be closed?

[2016-01-19 19:02] gordonbrander opened #839 "Design progress bar for perception of speed"
In order to get the best and most accurate progress bar experience, we'll need https://github.com/servo/servo/issues/9382. However, we can do better than we currently do, even without it.

The same progress time can feel fast or slow depending on how we ease the animation and other details. Here's what I want to try in a prototype:

- Animate from 0% to 80% with easing
- The closer we get to 80%,

[2016-01-19 20:06] gordonbrander commented on #754
This is no longer the case in WebRender builds.

[2016-01-19 20:06] #754 closed

[2016-01-19 22:02] gordonbrander opened #842 "Implement swipe-to-go-back"
Depends on https://github.com/mozilla/browser.html/issues/571.

Here's a comp showing a page mid-swipe.

![artboard 187 copy 125](https://cloud.githubusercontent.com/assets/58421/12433309/4a1fbbf2-beb5-11e5-845b-a6de13970983.png)

[2016-01-19 22:05] gordonbrander commented on #842
Here is an alternate (preferred) visual treatment that also animates z-axis.

![artboard 187 copy 126](https://cloud.githubusercontent.com/assets/58421/12433400/b5998ee4-beb5-11e5-8216-46a9ced9a7e5.png)

[2016-01-19 22:16] gordonbrander opened #843 "Bring back "new tab""
Our first pass could be to bring back the website tiles. I love these from the standpoint of usability. It's really easy to recognize your favorite sites this way.

![artboard 187 copy 114](https://cloud.githubusercontent.com/assets/58421/12433654/2b717112-beb7-11e5-86e9-2d91e747e0f9.png)

[2016-01-19 23:33] gordonbrander opened #844 "Tweak dimensions of sidebar to more closely match other apps"
Many apps use similar dimensions for spacing and widths of common elements like title bars and sidebars. This convention shouldn't be considered a rule... more like an emergent pattern. But I think it's worth trying some spacing tweaks here and there that mimic OSX interface elements... it may make the app feel like it "fits in" more.

Filing this so I wont forget. Will experiment with this soon.

[2016-01-20 10:17] paulrouget commented on #842
Can you describe more precisely the back/forward gesture and animations?

[2016-01-20 17:16] gordonbrander commented on #842
Here's what we would like to do:

- 2f Swipe from left to right
- Page animation is driven by finger movement. You can think of animation as being on a "track" and the distance your finger travels from left to right is correlated with the progress of the animation.
- You must drag past a threshold to go back. Once you release past a threshold, the animation completes. The animation integrates velo

[2016-01-20 19:30] gordonbrander commented on #524
A simple option would be to "light up" the icon when doing `cmd click`. We may also want to "pop" the icon with an animation briefly. This is analogous to the way the File menu highlights when you hit `cmd t`, for example. Here are some first-pass sketches.

![artboard 187 copy 131](https://cloud.githubusercontent.com/assets/58421/12460511/e943c31e-bf68-11e5-8198-6e3d3397290d.png)

A sketch with a

[2016-01-20 21:22] gordonbrander opened #845 "Search plugins"
We want to enable search plugins.
- Specification: https://slack-files.com/T03955LHZ-F0K02MM3P-9201c6ab0f

[2016-01-20 21:23] gordonbrander commented on #845
Related: search-in-page should use this mechanism https://github.com/mozilla/browser.html/issues/163.

[2016-01-21 01:26] #844 closed

[2016-01-21 07:22] paulrouget commented on #562
I'm retiring this meta bug. Maintaining this list is a difficult for many reasons. I will use `A-browserhtml` tags in servo/servo and glennw/webrender for now.

A list summarizing all the browser.html + servo bugs can be found here: http://paulrouget.com/bhtml-servo-issues/

[2016-01-21 07:22] #562 closed

[2016-01-21 19:26] Gozala commented on #566
@bbondy Would you mind telling us how does Electron handles `window.open` calls, or more specifically how on can set up communication channel between opener and opened windows ? Gecko passes this `event.detail.frameElement` that is just terrible to work with I would really like if we could do something better for servo and insight from Electron side would really help.

I did picked a little at bra

[2016-01-21 19:48] gordonbrander commented on #836
@Gozala why? Just curious.

[2016-01-22 04:48] bbondy commented on #566
Electron itself worked through a BrowserProxy which worked worse than the Graphene solution w/ `event.detail.frameElement`, it was removed here:
https://github.com/brave/electron/commit/dd628f9a3c23193ba59e101a0ebaa03a58279164

@bridiver implemented support here, which he'll upstream to atom/electron:
https://github.com/brave/electron/commit/58064872260cdec858e75c5f4737345a156b4833

He'll be able

[2016-01-22 07:20] bridiver commented on #566
as @bbondy said in Electron they wrote their own window.open implementation in JS and used a BrowserProxy with some basic functionality implemented through ipc (atom/renderer/lib/override.js). We removed that layer and use the webkit/chromium code that is substantially more involved. The guestInstanceId is used to lookup the webContents (in the main process) and attach it to the renderer process t

[2016-01-24 17:09] nt1m opened #847 "Reduce the number of node dependencies"
It takes *a lot* of time to install the node dependencies on a slow network.

[2016-01-24 17:27] nt1m commented on #847
I also get a lot of NOENT errors when doing npm install

[2016-01-24 17:34] nt1m commented on #847
Forget the NOENT errors, goes away when I use sudo

[2016-01-24 23:14] nt1m opened #848 "Drag to "tear off" tabs"
You shouldn't have to expand the tabbar each time to close a tab.

[2016-01-24 23:14] nt1m opened #849 "Clicking close button on tabs sometimes doesn't work"
It's very hard since the hit area is very small.

[2016-01-25 17:10] gordonbrander commented on #848
Let's take a look at this after we get the UI-as-designed fully implemented. If we go this route, it could be via click-and-drag-to-remove. Lower priority, since this functionality is accessible in other ways (`cmd w` for speed use case, opening the sidebar).

[2016-01-25 17:12] gordonbrander commented on #849
Will investigate. Could be a bug with Servo's hit targets? The hit target of the close button should cover the whole height of the tab and be fairly wide as well.

[2016-01-25 19:42] gordonbrander commented on #849
Confirmed: the hit target works as expected in Gecko, but in Servo is difficult to click, or sometimes does not trigger.

[2016-01-25 19:46] gordonbrander commented on #849
Wait! There is another bug with clicking the close tab button when you only have one tab left. This is present in Gecko and Servo.

[2016-01-25 20:00] gordonbrander commented on #849
Hmm, actually this seems to happen in Gecko as well. It doesn't have anything to do with the hit target. Individual tabs sometimes get "stuck" somehow and don't react to being closed with `x`. However, you can still use `cmd w`. The problem is sporadic. Maybe a state bug?

Here's a video of it not working https://gfycat.com/OptimisticSerpentineArrowana.

cc @Gozala

[2016-01-25 20:09] nt1m commented on #849
@gordonbrander Yeah, the screencast shows quite well what I was experiencing on Gecko.

[2016-01-25 21:40] gordonbrander commented on #849
I think this might be a race between `sidebar-tab` triggering `mousedown` and the close button triggering `click`.

[2016-01-25 21:52] gordonbrander commented on #849
Confirmed: this is a `click` vs `mousedown` race condition.

[2016-01-25 21:59] gordonbrander commented on #849
Furthermore, `cmd w` will close the current tab and select the next tab. The close button does not do this properly. We need to make sure the same actions are sent through for both.

[2016-01-25 23:51] gordonbrander commented on #849
There are several problems happening here:

- Race between `mousedown` and `click` events in tab view
- Figuring out why we have to send both `Select` and `Activate` from tab. Only `Select` seems to do anything but `Activate` is really the thing we should be sending, and it should do a `select`.
- The difference between `cmd w` and close button handling. The former correctly activates the adjacent

[2016-01-26 00:13] gordonbrander commented on #849
@Gozala do you know why we only select the adjacent tab when closing active webview? https://github.com/mozilla/browser.html/blob/master/src/browser/web-views.js#L341

[2016-01-26 00:28] Gozala commented on #849
Because if closed tab isn't active we don't need to adjust anything ?

[2016-01-26 00:31] Gozala commented on #849
@gordonbrander BTW this line should no longer be necessary, it was a hack we had to do before some of the stuff got fixed, but I guess I forgot to remove it.
https://github.com/mozilla/browser.html/blob/master/src/browser/sidebar/tab.js#L183

That being said it's still odd that it causes this bug, it should not I would like to find out why is it causing this bug if it really is the reason.

[2016-01-26 00:32] gordonbrander commented on #849
@Gozala the strange thing is https://github.com/mozilla/browser.html/blob/master/src/browser/sidebar/tab.js#L183 `Select` is the action that works. `Activate` seems to do nothing.

[2016-01-26 02:14] Gozala commented on #849
Here is an overview of what was going on:

1. We had a `onMouseDown` event listener on tab which triggered SelectTabByID action, causing active tab to be deselected and clicked tab to be selected.
2. Tab close button's `onClick` event listener was triggering `CloseTabByID` action.
3. Perspective UI code would trigger hid tabs animation when `SelectTabByID` action was triggered.
4. Since `onMouseDo

[2016-01-26 02:16] Gozala commented on #849
Unfortunately my changes introduce a regression it tab switching code on `ctrl tab` not entirely sure why, I suspect there was more stuff related to tab selection than I thought.

[2016-01-26 02:18] #849 closed

[2016-01-26 02:28] gordonbrander opened #852 "Closing a tab should not zoom in webview"
Follow-up from https://github.com/mozilla/browser.html/pull/850#issuecomment-174782325.

When closing a tab in sidebar, tab is activated and mode zooms in to show-webview. This shouldn't happen (tab should simply close).

[2016-01-26 05:01] paulrouget opened #854 "disable logs by default"
I don't care much about the logs while working on Servo. Can we make them optional? Maybe behind one the devtools checkbox?

[2016-01-26 05:02] paulrouget opened #855 "remove window controls"
Both gecko and servo use native controls now.

[2016-01-26 05:05] paulrouget opened #856 "Add a fetch polyfill"
Until Servo supports fetch (someone is actively working on it), let add use this: https://github.com/github/fetch/blob/master/fetch.js

[2016-01-26 19:10] #852 closed

[2016-01-27 03:57] paulrouget commented on #855
Hold on. We might have to use HTML controls instead of native controls.

See https://github.com/servo/servo/issues/9431#issuecomment-175312557

[2016-01-27 18:26] gordonbrander commented on #856
This was fixed by https://github.com/mozilla/browser.html/pull/840.

[2016-01-27 18:26] #856 closed

[2016-01-27 18:27] gordonbrander commented on #855
Ok, I'm fine with either approach.

[2016-01-28 02:48] paulrouget commented on #843
Yes!

[2016-01-29 17:24] Gozala commented on #854
@paulrouget In fact I already have the patch that only enables them if you have certain setting set. Problem is we don't have settings in servo though :)

Feel free to remove it for now and I can put it back once I'll get around to polyfilling settings API.

[2016-01-29 20:06] gordonbrander opened #857 "Fix cmd click"
Fix `cmd click` (open link in background). This regressed when we transitioned architectures. UX for this being tracked here https://github.com/mozilla/browser.html/issues/524.

[2016-01-29 20:42] gordonbrander commented on #857
Event happens:
<img width="240" alt="screen_shot_2016-01-29_at_12 38 27_pm_480" src="https://cloud.githubusercontent.com/assets/58421/12687596/ccbcdfe0-c685-11e5-87cb-ba202db94441.png">

[2016-01-29 20:44] gordonbrander commented on #857
Handled here: https://github.com/mozilla/browser.html/blob/master/src/browser/web-views.js#L561, which under these conditions, calls `Driver.force` https://github.com/mozilla/browser.html/blob/master/src/browser/web-views.js#L304. The problem is that `Driver.force` is undefined https://github.com/mozilla/browser.html/blob/master/src/driver/virtual-dom/index.js#L417.

[2016-01-29 20:47] Gozala commented on #847
@nt1m we don't have that many dependencies & they all are fairly small:
https://github.com/mozilla/browser.html/blob/master/package.json#L28-L34

We do have bunch of `devDependencies` & some pretty large ones, but you don't have to install them unless you plan on hacking on browser.html itself. You can avoid installing dev dependencies as described in readme:

[code]

[2016-01-29 20:49] #847 closed

[2016-02-01 03:30] paulrouget opened #860 "Move the hamburger button into the sidebar when the sidebar is pinned"
<img width="208" alt="screen shot 2016-02-01 at 04 29 57" src="https://cloud.githubusercontent.com/assets/373579/12708124/7ff3d0e2-c89c-11e5-8d9c-304c94c5b273.png">

[2016-02-02 00:32] paulrouget opened #861 "Do not use a gradient for the progressbar"
Webrender is not ready to render gradients. See https://github.com/glennw/webrender/issues/161

Maybe we can use a PNG or use a different design.

/cc @gordonbrander

[2016-02-02 03:27] paulrouget commented on #861
Not necessary. Servo fix coming.

[2016-02-02 03:27] #861 closed

[2016-02-02 14:51] paulrouget commented on #854
Should I just comment out the calls to `console.log`?

[2016-02-02 17:37] #857 closed

[2016-02-02 18:53] gordonbrander commented on #860
:+1: having the icons appear in sidebar is the intention of the design. I started work on this, but pushed it out since getting the transition between pinned/unpinned is tricky. We should circle back and fix this.

[2016-02-02 18:56] gordonbrander opened #862 "Show when link clicks open new tab"
We should have an interaction cue when links clicks open a new tab.

Some possibilities:
- Animate tabs icon (easy)
- "Shuffle" animation for main webview (harder)

Related to https://github.com/mozilla/browser.html/issues/524.

[2016-02-05 01:06] gordonbrander commented on #860
We should probably sketch out this animation in After Effects first.

[2016-02-05 01:14] #822 closed

[2016-02-08 18:43] gordonbrander opened #865 "Background shouldn't show through Webview crossfade"
I think currently both webviews use a fade animation. Instead, it should work like this:

1. Current webview is is set to `z-index: 2`. Next webview is set to `z-index: 1; opacity: 1;`
2. Current webview fade animation begins. Because next webview is behind, you get  a clean crossfade.
3. When animation is complete, current webview `z-index: 1`, next webview `z-index: 2`.

[2016-02-08 20:03] Gozala opened #866 "XHR mozSystem isn't supported by servo"
Servo does not support [mozSystem](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest#mozSystem) property on XHR that blocks #863 as duckduckgo does not set CORS headers and servo fails requests.

@paulrouget should I move this bug to servo ? I was hesitant as it's custom extension to XHR that probably belongs to realm of servo based graphene or elsewhere. Anyway I'll let you decide w

[2016-02-08 20:05] Gozala commented on #834
@paulrouget I still don't seem to get `input` events I'm afraid on the latest build from you.

[2016-02-08 20:05] Gozala commented on #834
This also breaks #863 on servo

[2016-02-08 20:33] Gozala commented on #834
It turns out it's not that `input` is not dispatched, it's that it does not propagate. Submitted following issue for that: https://github.com/servo/servo/issues/9574

[2016-02-08 21:12] #834 closed

[2016-02-08 22:46] gordonbrander opened #867 "Integrate DuckDuckGo instant answers into search suggestions"
We should make these a type of "top hit". I'll put together some wireframes/comps.

[2016-02-08 22:47] gordonbrander commented on #867
- Creating new instant answers https://duck.co/ia/new_ia
- Details on the API https://api.duckduckgo.com/api
- Here's an example of the kind of data we get back: https://api.duckduckgo.com/?q=rust&format=json&pretty=1

[2016-02-09 01:07] gordonbrander commented on #788
@paulrouget do we have z-index in Servo now?

[2016-02-09 04:27] paulrouget commented on #788
z-index should work. If it doesn't, please let me know.

[2016-02-09 19:28] #865 closed

[2016-02-10 01:34] gordonbrander commented on #867
- The DDG instant answer API gives you whatever it decides is best.
- Bangs (`!amazon`) redirect to search results on a given site.
- `keyword:` triggers DDG's instant answer recipes (`rust:`)

[2016-02-12 05:56] paulrouget commented on #15
it works now.

[2016-02-12 05:56] #15 closed

[2016-02-12 17:37] gordonbrander opened #869 "Search suggestions are forced, blowing away what you type"
There's a bug with the current search implementation that blows away what you type, replacing it with the current search suggestion. This means you can't actually type what you want if it doesn't match the first suggestion.

Screen recording: https://drive.google.com/file/d/0B1az_KF0ZYc_aGh1cHdwVVZoTHc/view?usp=sharing

cc @Gozala

[2016-02-12 18:03] Gozala commented on #869
@gordonbrander Interesting, I did not realized that we would get suggestions where we don't have a match so I never considered that case :( Thinking about this I'm also not sure what is it we can do in such case. I see following options:

1. Throw away suggestions that don't contain typed query in the beginning of the suggestion.
2. Display what you typed and display suggestion title as  a hint (l

[2016-02-12 18:28] gordonbrander commented on #869
@Gozala

We don't necessarily need to throw away suggestions whose match doesn't match the text, but they shouldn't replace the text.

3 sounds like a good option.

Another good option would be to keep these suggestions, but demote them so they are never used as auto-completions.

[2016-02-14 01:33] Manishearth commented on #866
Is graphene specced anywhere?  The readme says "Graphene: a runtime for building native apps in HTML. It's currently in development and part of Servo.", however I can't find a concrete part of Servo that deals with this aside from the code handling `<iframe mozbrowser>`.

[2016-02-14 22:00] Mte90 opened #871 "Error: spawn /Applications/Browser.html.app/Contents/MacOS/graphene ENOENT"
I get `Error: spawn /Applications/Browser.html.app/Contents/MacOS/graphene ENOENT` that error on linux.

To fix on gulpfile.babel.js on line 24 I changed with my path of graphene.
Maybe add some info about that in readme?

[2016-02-15 03:02] paulrouget commented on #866
That's basically it for now. More context: https://github.com/servo/servo/issues/7379

Agreed. This is a thing that will be discussed soon at our next servo/bhtml meeting.

[2016-02-16 17:14] gordonbrander opened #872 "Integrate force touch for switching to show-tabs mode"
Wireframe forthcoming.

[2016-02-17 02:20] Gozala commented on #869
In fact there is another problem with the way we implement suggestions right now:

Try going to `medium.com` by typing `medium.` presumably you'll get following picture:

<img width="509" alt="screen shot 2016-02-16 at 5 29 04 pm" src="https://cloud.githubusercontent.com/assets/21236/13097043/de3a2c54-d4d2-11e5-8fdf-399029d298de.png">

So you can't really type `medium.com` but even if you typed re

[2016-02-17 17:42] Gozala opened #873 "Closing last tab enters browser into invalid state"
Steps to reproduce:

1.  Type `foo` in location bar and hit enter.
2. Once page loads trigger `cmd w` keybinding.

Expected behavior:

See create tab view.

Actual behavior:

Tab does not get closed.

[2016-02-17 17:44] Gozala commented on #873
I know it worked in #c62802288465ce3dcbcc7130c0930607bf90a214 & there were only handful of commits since which is where I expect it got regressed.

[2016-02-17 17:58] Gozala commented on #873
e59ccb7bfa37b7a7240861dacf31fe2ca1f7d58e seem to have regressed going back to create-tab mode but works never the less.

[2016-02-17 18:25] gordonbrander commented on #873
@Gozala this is working for me

[2016-02-17 18:36] #873 closed

[2016-02-17 22:49] gordonbrander commented on #869
Yes, agreed. I'm adding this to the spec.

[2016-02-18 08:59] paulrouget commented on #872
For the record, there are 4 phases:

1. touchpad at rest (`force = 0`)
2. pressure on the touchpad, first click not reached (`0 < force < 1`)
3. pressure on the touchpad, first click reached, second click not reached (force: ``1 < force < 2``)
4. pressure on the touchpad, second click reached (force: `2 < force < 3`)

Clicking happens when `force = 1` and `force = 2`.

[2016-02-18 09:01] paulrouget opened #875 "Make it possible to pass options via the hash"
For example: http://localhost:6060/index.html#window_controls=false;devtools=false

[2016-02-18 09:51] paulrouget opened #876 "The pin button is clicked 4 times with Servo"
This used to work.

I'm not sure why, but the pin button behaves as if it was clicked 4 times with Servo.

![b](https://cloud.githubusercontent.com/assets/373579/13139524/4c2930ba-d62d-11e5-8e47-ca73a7e9719b.gif)

See the double bounce? It's like the sidebar shows up, then hides, then shows up and hides again.

I don't know where the JS click event handler is.

@Gozala can you help?

[2016-02-18 18:16] Gozala commented on #876
@paulrouget ok here is an overview how things are wired there:

1. Sidebar's bottom part contains a sidebar/toolbar containing pin toggle button:
https://github.com/browserhtml/browser.html/blob/master/src/browser/sidebar/toolbar.js#L156
2. Events / Actions from pin button are mapped via `ToggleAction` function:
https://github.com/browserhtml/browser.html/blob/master/src/browser/sidebar/toolbar.js

[2016-02-19 11:35] paulrouget commented on #875
It would help a lot if we could pass at least 2 options:
1. window controls (enabled or not)
2. a list of tabs to open at startup

[2016-02-19 11:46] paulrouget commented on #875
Add to that add:
3. enable / disable logs

[2016-02-19 11:56] paulrouget commented on #876
onClick is called twice. Servo bug.

[2016-02-19 11:58] paulrouget commented on #876
https://github.com/servo/servo/issues/9702

[2016-02-19 16:14] joshua-s commented on #802
What should this animation look like?

[2016-02-19 16:14] joshua-s commented on #802
What should this animation look like?

[2016-02-19 16:32] gordonbrander commented on #802
@joshua-s an example can be found in this prototype https://github.com/gordonbrander/browser.html-prototypes/tree/master/01

Previously Servo didn't support CSS transitions, which means using our built-in animation engine instead. I'm not sure if this is still the case. cc @paulrouget.

[2016-02-19 16:43] paulrouget commented on #802
Transitions work.

[2016-02-19 16:44] gordonbrander commented on #802
Ok, implementing with CSS transitions will probably be simplest.

[2016-02-19 17:12] #871 closed

[2016-02-19 17:56] paulrouget commented on #866
I disabled cross-origin checks in our servo nightly builds.

[2016-02-19 18:37] paulrouget commented on #875
… or add a `option.js` file next to `index.html` where I can set some variables.

[2016-02-20 12:27] paulrouget commented on #876
Fixed by https://github.com/servo/servo/commit/875f1e92ccafebc8ddebc722f430e5037007b9dc

[2016-02-22 16:14] #876 closed

[2016-02-22 16:21] paulrouget commented on #875
I basically want to be able to share a state with other servo developers. Whatever the solution is (external file or hash)

[2016-02-22 22:23] gordonbrander opened #878 "Update browserhtml/docs/"
`architecture.md` and `Synthesis UI.md` are out-of-date. It might be better to remove them and link to a wiki page from `README.md`.

@Gozala any preference?

[2016-02-23 14:50] paulrouget opened #880 "Progressbar stops after 7 seconds"
There's a hardcoded limit in `progress.js` of 7 seconds.

I don't understand why this is here.

For testing, run a fake server:

[code]

server.js:
[code]

[2016-02-24 01:29] gordonbrander opened #881 "Hitting esc with no tabs dismisses the new tab page"
It should not.

[2016-02-24 04:32] joshua-s commented on #802
You can assign me :)

[2016-02-24 17:24] paulrouget opened #882 "Update the progressbar behavior with mozbrowserconnected"
Until now, a page was either loading or loaded. Now it can also be in a "connecting" mode.

The 3 events that matter are: `mozbrowserloadstart`, followed by `mozbrowserconnected`, and finally `mozbrowserloadend`. So the page can be in 3 states: *connecting*, *loading*, *connected*.

What I would suggest this behavior:

Here is how I would build it: http://jsbin.com/kucubiyixe/1/edit?html,js,output

[2016-02-24 21:42] joshua-s opened #884 "Integrate error pages"
We need to handle server/network errors with simple, useful error pages.

[2016-02-25 03:30] #802 closed

[2016-02-25 03:53] joshua-s commented on #504
This issue seems to have been resolved.

[2016-02-25 05:11] gordonbrander commented on #504
Yes, it mostly is, but I caught a few edge cases with inputs and wrote a fix https://github.com/browserhtml/browserhtml/pull/883. Once this PR lands, it will fix this bug.

[2016-02-25 10:01] paulrouget commented on #884
There are a lot of possible error: http errors, network error (can't reach server), ssl/cert error, crash, too many redirect, …

In theory (haven't tested), gecko-Graphene handles these in 3 ways:
- http error: nothing to do (the message is part of the http response, 404 for example)
- other error: either `net_error.html` is loaded or we get a mozbrowsererror: https://developer.mozilla.org/en-US/d

[2016-02-25 10:52] #504 closed

[2016-02-25 12:11] paulrouget commented on #872
Here is a quick-and-dirty hack that shows how it can be done:

[code]

[2016-02-25 12:12] paulrouget commented on #872
demo: https://streamable.com/5j47

[2016-02-25 18:18] matthewp commented on #843
This is really nice.

[2016-02-29 19:21] gordonbrander opened #888 "Sidebar should close immediately after clicking pin button"
This was brought up during meeting. It's unclear what it does, but if you clicked it and the sidebar closed to it's minimized state, it would be self-explanatory.

[2016-02-29 22:17] #888 closed

[2016-02-29 22:18] gordonbrander commented on #839
Related?
https://github.com/browserhtml/browserhtml/issues/882
https://github.com/browserhtml/browserhtml/issues/880

[2016-02-29 22:19] gordonbrander commented on #882
Related: https://github.com/browserhtml/browserhtml/issues/839

[2016-02-29 22:19] gordonbrander commented on #880
Related: https://github.com/browserhtml/browserhtml/issues/839

[2016-03-01 04:07] joshua-s commented on #503
Assign me please :) Do you have a spec, or can I prototype some designs?

[2016-03-01 04:09] gordonbrander commented on #503
@joshua-s we have specs. I'll send them your way.

[2016-03-02 01:03] #839 closed

[2016-03-02 01:03] #880 closed

[2016-03-02 01:03] #882 closed

[2016-03-02 17:47] Gozala opened #897 "Favicon fallback doesn't work as expected"
For example following page http://codemirror.net/mode/elm/index.html has favicon in other browsers but it does not in browser.html

[2016-03-02 17:55] #897 closed

[2016-03-03 19:35] #869 closed

[2016-03-03 21:59] Gozala opened #905 "tab switch should not animate if ctrl is realized quickly"
Tab switching via `ctrl-tab` / `ctrl-alt-tab` should switch tabs without animation if ctrl is realized quickly.

[2016-03-03 21:59] Gozala commented on #905
@gordonbrander Do you have anything to add to this ?

[2016-03-03 23:31] paulrouget opened #907 "Add a lock icon if https"

[2016-03-04 18:05] paulrouget commented on #907
This is fixed. Servo issue: https://github.com/servo/servo/issues/9868

[2016-03-04 18:05] #907 closed

[2016-03-04 18:08] paulrouget opened #911 "Remove the udpate code"
Apparently, the update will come from Servo itself or from the mozilla updater.
We don't have a strategy for web updates yet, and we don't have any security model.

Let's remove the update code.

[2016-03-04 21:15] paulrouget opened #913 "Make it look good on Linux"
Not sure yet what we want to do here, but browserhtml needs to work correctly on Linux.

[2016-03-04 21:26] #911 closed

[2016-03-07 11:38] paulrouget opened #914 "Re-use vw and vh"
These should be working again very soon (once I get a new build).

[2016-03-07 11:40] paulrouget commented on #855
We need controls.

[2016-03-07 11:40] #855 closed

[2016-03-07 11:42] paulrouget opened #915 "Add window controls only if titlebar-less window"
We need window controls only on Mac, when the `-b` option is passed.

I suggest that we pass options to the document via the hash to tell browerhtml if it should use window controls or not.

For example: `index.html#titlebar=true`

[2016-03-07 12:13] paulrouget opened #916 "Measure performance of bhtml without lazy parsing and without JIT"

[2016-03-08 09:15] paulrouget commented on #810
Isn't that fixed?

[2016-03-08 11:05] paulrouget opened #918 "Experiment with showing multiple iframes when sidebar is displayed"
… the 3D view thingy with stacked iframe

[2016-03-08 11:06] paulrouget opened #919 "Make browserhtml looks less webby and more part of the OS"
Gordon knows what that means.

[2016-03-08 17:52] Gozala commented on #810
This consisted of two parts:

- [x] Search suggestions #863
- [ ]  History suggestions #870

So it's partially done. That being said #863 is still not fixed on Servo and is blocked by  #866

[2016-03-08 19:15] Gozala opened #921 "Consider using better key bindings implementation"
Current implementation is hand written and assumes `KeyboardEvent.prototype.key` implementation which does not yet implemented in WebKit for instance. It may make sense to build upon existing cross browser keybinding solution like https://github.com/marijnh/browserkeymap  instead.

[2016-03-08 22:50] Gozala commented on #878
Sure remove them, I'll try to get them up to date after probably after / or maybe by June.

[2016-03-11 04:55] paulrouget opened #922 "remove setSelectionRange test"
… it's now implemented in Servo

[2016-03-14 04:36] paulrouget opened #924 "remove all npm warnings"
[code]

[2016-03-14 22:28] paulrouget opened #925 "Make it look good on Windows"
Not sure yet what we want to do here, but browserhtml needs to work correctly on Windows.

[2016-03-14 22:42] paulrouget opened #926 "Back button"
Gestures won't happen anytime soon.

Let's add a back button.

[2016-03-15 07:02] paulrouget opened #927 "Add a feedback/report issue interface"
Anything that would help the user report an issue.
Something a bit smarter that just a github link.

[2016-03-15 08:52] paulrouget opened #928 "Before the progressbar starts growing, it's displayed full size for a very short time"

[2016-03-15 11:58] laurentj opened #929 "Some gradients appear in web pages"
When I open http://slimerjs.org with browserhtml  `./mach run --browserhtml`, some gradients appear on some html elements.

![servo_box_gradient](https://cloud.githubusercontent.com/assets/336034/13776971/68ed87d4-eaad-11e5-87f8-6137d4fcde74.png)

If I open the web site directly with Servo `./mach run http://slimerjs.org` (or when I open it in Firefox), there are not these issues.

Servo build: co

[2016-03-15 13:09] laurentj opened #930 "Need to type backspace twice to delete a character in the url bar"
To delete one character in the url bar, with the backspace key, I need to type two times on this key.

Servo build: commit 075ce98 , release build, on linux Kubuntu 15.04 64bits, azerty keyboard.

[2016-03-15 13:14] paulrouget commented on #930
Can reproduce on Mac, Qwerty. It appears to be browserhtml specific.

[2016-03-15 13:36] paulrouget commented on #325
This will also require servo support.

[2016-03-15 16:46] paulrouget commented on #919
We need an visual update on:
* dashboard
* sidebar
* titlebar

[2016-03-15 16:53] paulrouget opened #931 "If sidebar is pinned, we should not animate tab switching when using ctrl-tab"
In any browser, holding the `ctrl` key and then hitting `tab` will switch to a tab instantaneously.

[2016-03-15 17:01] paulrouget commented on #930
Might be related to the recent implementation of `setSelectionRange`.

[2016-03-15 18:14] tigt opened #932 "SVG UI icons?"
I'd like to contribute in the one way I feel confident doing: making SVG versions of the existing bitmap UI elements. But I wanted to check if that was a good idea:
- How is Servo at SVG? It's [supposed to be capable of basic SVGs](https://github.com/servo/servo/pull/4623), but I'm sure there are known bugs that I couldn't google.
- Bad perf impact? Current browsers are far faster at decoding/resi

[2016-03-15 19:31] pzuraq opened #933 "OSX - Alternative keymaps not working"
Super excited about this project, it's coming along much faster than I thought it would :smile:

I downloaded and compiled to try it out, and found that the keymaps I had on my computer weren't working. I use dvorak, but when I typed it came out as qwerty. I'm using the standard system language chooser.

[2016-03-16 05:13] paulrouget commented on #932
Servo doesn't support SVG yet :/

This bug is about canvas.

[2016-03-16 05:14] paulrouget commented on #933
Thanks for trying!

Keymap issue is tracked here: https://github.com/servo/servo/issues/4144

[2016-03-16 05:14] #933 closed

[2016-03-16 08:40] paulrouget opened #934 "The overscroll background color doesn't mach the titlebar color"
<img width="707" alt="screen shot 2016-03-16 at 09 40 10" src="https://cloud.githubusercontent.com/assets/373579/13806309/21ca95d2-eb5b-11e5-96e1-73deff812558.png">

[2016-03-16 12:35] fgimenez commented on #767
Hi, I would like to work on this issue, could you please assign it to me and give me some details about how to begin with it?

Thanks! :)

[2016-03-16 12:42] paulrouget commented on #767
This is actually not an issue anymore. The way it works in Servo is different from what we had in Gecko.

@gordonbrander can you confirm?

[2016-03-16 23:04] gordonbrander commented on #767
Yup, true!

[2016-03-16 23:04] #767 closed

[2016-03-17 03:48] paulrouget opened #935 "Our JS code delay page loading and use a lot of CPU (both Servo & Gecko)"
See https://github.com/servo/servo/issues/10000

Looking at the profiler, we spend a lot of time executing JS code. CPU ends up spiking at almost 200%.
Everything is back to order when disabling the progressbar code.

Part of the overhead is due to a Servo bug we will be looking at next, but it's only a small part of the issue. Apparently, we also have a JS overhead with Gecko.

Can we spend some

[2016-03-17 04:24] paulrouget commented on #935
I'll try to come up with some more meaningfull numbers later today.

[2016-03-17 06:26] paulrouget commented on #935
During page load, 30% of the time is spent in the rAF loop.

[2016-03-17 07:10] paulrouget commented on #935
Just did that.

Here are my conclusions:
- 2 servo issues: rAF overhead (https://github.com/servo/servo/issues/9844) and poor style.transform performance (https://github.com/servo/servo/issues/10050)
- we still spend a significant amount of time (~20%) in JS not doing any DOM changes

Replacing rAF with `setTimeout` and commenting out the transform change brings us down to 20%.

[2016-03-17 07:34] paulrouget commented on #935
Here is the result of profiling browerhtml loading a page with a download latency. 85% of the samples are from the script thread: http://people.mozilla.org/~prouget/bugs/issue935.svg (the box are clickable).

[2016-03-17 07:34] paulrouget commented on #935
In the previous comment, I used work around to avoid the 2 servo bugs mentioned above.

[2016-03-17 08:35] Baebizzle opened #936 "Web browser"
About blank

[2016-03-17 08:39] #936 closed

[2016-03-17 14:39] Anachron commented on #913
I have ArchLinux at home, so I could be testing and debugging.

[2016-03-17 14:49] paulrouget commented on #913
I think there are 2 things we can do:

Option 1, figure out a way to make a border-less draggable and resizable window on Linux. I guess that's only possible if we use a widget toolkit, or if we use wayland (which is supported),

Option 2,  we just rely on the window manager to draw the window decoration (as it is now), but then we need to hide the window controls (osx buttons for now).

I would g

[2016-03-17 15:01] alicoding opened #937 "Crash after visiting twitter.com"
OS: Mac 10.11.3
Using Brew to install and followed the instructions

[code]

[2016-03-17 15:03] paulrouget commented on #937
Can you please file this in github.com/servo/servo ?

[2016-03-17 15:03] #937 closed

[2016-03-17 15:04] alicoding commented on #937
My bad, I thought I'm on that repo >.<

[2016-03-17 15:15] Anachron commented on #913
I'd go for 2 as well. I have 3 different wms for testing 1 though.

I'd not recommend Wayland yet. Even though its testable, it still segfaults for me.

When will you get to check #915?

[2016-03-17 15:21] paulrouget commented on #913
Not anytime soon.

I do have a Linux box here. The only thing that stands out is the titlebar.

[2016-03-18 02:12] paulrouget commented on #915
@gordonbrander / @Gozala can one of you look at this?

[2016-03-18 02:21] paulrouget commented on #571
Removing P2. This is not going to happen by June.

[2016-03-18 02:22] paulrouget commented on #884
@gordonbrander Do we want to support that by June?

[2016-03-18 02:23] paulrouget commented on #918
How much work is that? Can someone describe what needs to be done here?

[2016-03-18 02:24] paulrouget commented on #934
Can someone investigate and see where the background color come from? Is it the iframe background or the deepest layer of the page?

[2016-03-18 02:25] paulrouget commented on #930
Can someone investigate and see if it's a Servo bug or a bhtml bug?

[2016-03-18 02:25] paulrouget commented on #931
Can someone describe what needs to be done to implement that?

[2016-03-18 02:26] paulrouget commented on #928
@gordonbrander can you look at this?

[2016-03-18 02:27] paulrouget commented on #927
@gordonbrander any ideas?

[2016-03-18 02:28] paulrouget commented on #926
In the design I've seen, the back button was over the page. Is that a thing we still want to do?

[2016-03-18 02:29] paulrouget commented on #925
This [comment](https://github.com/browserhtml/browserhtml/issues/913#issuecomment-197912816) applies here as well.

[2016-03-18 02:31] paulrouget commented on #860
Any update on that?

[2016-03-18 08:20] paulrouget commented on #872
I'm working a proper PR for Servo. I do not use the `webkit` prefix anymore, but `servo`.

[2016-03-18 09:15] laurentj commented on #930
Well the bug appears only in the url bar of bhtml. Not in any other input field of web pages.

[2016-03-18 09:17] paulrouget commented on #930
But we don't have the issue with Gecko. Might be an issue with key events + `setSelectionRange`.

[2016-03-21 04:54] paulrouget commented on #914
https://github.com/servo/servo/issues/8754

[2016-03-21 05:04] #926 closed

[2016-03-21 06:24] paulrouget commented on #929
Hmm… most likely a webrender issue. I think we have a similar issue with http://firefox.com and the green button.

[2016-03-21 06:52] paulrouget opened #939 "can't publish a new version of bhtml: 'color-structure' is not in the npm registry"
See: https://travis-ci.org/browserhtml/browserhtml/builds/117384339

[2016-03-21 06:54] paulrouget commented on #929
I'll try to build a simple test case and file an issue.

[2016-03-21 07:00] paulrouget commented on #320
Not relevant anymore.

[2016-03-21 07:00] #320 closed

[2016-03-21 07:11] paulrouget commented on #325
I'll file a new issue (this bug was mostly about gecko implementation).

[2016-03-21 07:11] #325 closed

[2016-03-21 07:13] paulrouget opened #940 ""open in new tab" feature"
This requires Servo support. Relevant bug is here: https://github.com/servo/servo/issues/10099

But we also need browserhtml support:
- support the `mozbroweropentab` event (i think this is already the case)
- do something in the UI to make it clear that a background tab has been opened

[2016-03-21 07:13] paulrouget commented on #325
servo: https://github.com/servo/servo/issues/10099
bhtml: https://github.com/browserhtml/browserhtml/issues/940

[2016-03-21 07:17] paulrouget commented on #915
I'll take care of it.

[2016-03-21 08:22] paulrouget opened #941 "Only show the back button if we can go back"
Or maybe grey it out? @gordonbrander what do you think?

`getCanGoBack` is not implemented in Servo, but I'd like to implement it differently. Maybe instead of implementing a specific method, we could just add a `canGoBack` / `canGoForward` property to the `mozbrowserlocationchange` event. @Gozala what do you think?

[2016-03-21 08:49] paulrouget commented on #915
A easier solution is probably to just use `navigator.platform` and just assume no native titlebar on mac.

[2016-03-21 09:37] paulrouget commented on #913
I'm about to fix #915. @gordonbrander Is there anything we want to do here?

[2016-03-21 09:37] paulrouget commented on #925
I'm about to fix #915. @gordonbrander Is there anything we want to do here?

[2016-03-21 11:31] paulrouget commented on #941
Browser API change: https://github.com/servo/servo/pull/10100

[2016-03-21 14:19] paulrouget opened #944 "If Servo, use window methods instead of mozContentEvent"
In runtime.js, until we get a proper runtime, can we use:
- `window.close()` for `Runtime.quit`
- `window.location.reload()` for: `Runtime.reload`
- `window.location.reload(true)` for: `Runtime.cleanReload`

I'm not sure about fullscreen and minimize yet.

@Gozala can you look at this? The Task thing in `runtime.js` is confusing me.

[2016-03-21 17:52] gordonbrander commented on #941
:+1: My strong inclination is to only show it if you can go back, but I think "greying it out" or making it very transparent is a reasonable approach as well.

[2016-03-21 17:55] paulrouget commented on #941
I'm ok with that.

[2016-03-21 18:09] gordonbrander commented on #915
@paulrouget why not use `browserhtml.json` config file? We could allow `.mach` to choose a config file, for example.

[2016-03-21 18:20] paulrouget commented on #915
So when we package Servo, we would put a `os:…` in `browserhtml.json`?
That won't help. Instead of querying the OS, we would query the json file.

We need a way for the runtime, at *runtime*, to tell if a native titlebar is used or not. This will happen once we get the proper Electron-like runtime.

[2016-03-21 18:24] gordonbrander commented on #915
@paulrouget we're creating different app packages for the different OS's. This means we can have different config files for these different app packages. Seems like a simple fix, but I'm not married to it. I'm open to whatever solution makes sense.

[2016-03-21 18:25] gordonbrander commented on #823
I think this is a p2 (e.g. I would not block on it for nightlies).

[2016-03-21 18:45] paulrouget commented on #866
Closing. Dupe of https://github.com/servo/servo/issues/9582.

[2016-03-21 18:45] #866 closed

[2016-03-21 21:22] paulrouget commented on #941
I've implemented canGoBack / canGoForward in Servo. I've updated the MDN documentation: https://developer.mozilla.org/en-US/docs/Web/Events/mozbrowserlocationchange

It hasn't landed yet. But it's been r+'ed.

[2016-03-21 21:22] paulrouget commented on #872
Any update?

[2016-03-21 21:23] paulrouget commented on #884
@gordonbrander ping?

[2016-03-21 21:23] gordonbrander commented on #872
Working on it now :)

[2016-03-21 21:23] paulrouget commented on #905
@gordonbrander ping?

[2016-03-21 21:23] gordonbrander commented on #884
@paulrouget I wouldn't block on it.

[2016-03-21 21:24] paulrouget commented on #918
Do we have wireframes for that?

[2016-03-21 21:24] gordonbrander commented on #905
@Gozala and I talked about this in detail. Assigning him.

[2016-03-21 21:25] paulrouget commented on #934
@gordonbrander ^

[2016-03-21 21:27] gordonbrander commented on #934
@paulrouget the title bar color comes from the `theme-color`, but can be overrided via a list of hardcoded colors.

Maybe what we actually need is a way to get the background color of the deepest layer in the page and use that everywhere.

[2016-03-21 21:31] paulrouget commented on #934
I'm looking for the color of the overscrolled region. The white part in the screenshot. Why is it white?
Once we know that, then we know where to apply the `theme-color`.

[2016-03-21 22:19] gordonbrander commented on #934
I thought Servo's overscroll extended the background color of the page, but now I'm suspecting it's always just white.

If I `./mach run -r -w http://everytimezone.com/` (which has a dark background color on the body element), I still get white overscroll.

<img width="912" alt="screen shot 2016-03-21 at 15 18 20" src="https://cloud.githubusercontent.com/assets/58421/13936057/4b7a71f6-ef78-11e5-86

[2016-03-21 23:03] gordonbrander commented on #925
Do we hide the title bar on windows?

[2016-03-21 23:06] gordonbrander commented on #913
@paulrouget we will not hide the title bar on Linux, correct?

[2016-03-22 04:17] paulrouget commented on #913
titlebar will be native.

[2016-03-22 04:17] paulrouget commented on #925
titlebar will be native.

[2016-03-22 05:10] paulrouget commented on #934
The white color must come from somewhere

[2016-03-22 05:21] paulrouget commented on #934
It's the background of the iframe (white by default). See https://github.com/browserhtml/browserhtml/pull/947

[2016-03-22 10:08] paulrouget commented on #941
Landed: https://github.com/servo/servo/commit/6577409b95bc782c0493cc5186fa4ed0d31d680d

[2016-03-22 14:26] nical opened #949 "servo+browser.html - entering an url in the url bar doesn't seem to work after navigating a page"
Not sure whether it belongs to servo or browser.html. On a local build of [today's servo](https://github.com/servo/servo/commit/4341dc5fb45a3e4d5397ca64e7aabe85f8ac23ab) on Linux:

1) ./mach run --release -w -b
2) enter reddit.com/r/rust in the url bar and press enter
3) visit a link from the reddit page
4) enter reddit.com/r/rust again in the url bar
5) nothing happens

[2016-03-22 22:32] jrasanen commented on #924
Hi,

I'm also getting

[code]

and after disabling eased from package.json and installing it manually I get:

[code]

and `left-pad` is a dependency of babel-core 5.x

[2016-03-23 01:50] paulrouget commented on #924
Yeah. See https://github.com/browserhtml/browserhtml/issues/939

[2016-03-23 01:50] paulrouget commented on #939
@gordonbrander or @Gozala can someone take a look at this?

[2016-03-23 01:52] paulrouget commented on #949
Yeah. Most likely https://github.com/browserhtml/browserhtml/pull/948

[2016-03-23 02:05] gordonbrander commented on #939
Looks like the name of the dependency changed https://github.com/Gozala/eased/blob/master/package.json. Assigning @Gozala.

[2016-03-23 07:19] paulrouget commented on #939
so it's just a mater of updating ease?

[2016-03-23 07:20] Gozala commented on #939
@paulrouget Yes. Also I'm on it, updating bunch of other deps as well.

[2016-03-23 07:52] #939 closed

[2016-03-23 09:47] #934 closed

[2016-03-23 10:02] #915 closed

[2016-03-23 10:03] paulrouget commented on #941
New Servo build include this change.

Can someone look at this?

[2016-03-23 10:31] Swatinem opened #953 "loading indicator not clipped"
When opening the tab view when the loading indicator is still visible, you can clearly see that it is not clipped to page bounds

![bildschirmfoto von 2016-03-23 11-27-21](https://cloud.githubusercontent.com/assets/580492/13982463/8fba3dec-f0ea-11e5-824a-613898d7f4a1.png)

[2016-03-23 10:42] paulrouget commented on #953
Servo issue. Overflow issue. We'll need a reduced test case.

[2016-03-23 23:57] gordonbrander commented on #918
I've added a wireframe for this, along with interaction notes. https://drive.google.com/file/d/0B1az_KF0ZYc_bzIyZzJRTm4tZVk/view?usp=sharing. We also have these interactive prototypes that show how the interactions work https://github.com/gordonbrander/browser.html-prototypes.

[2016-03-24 00:01] gordonbrander commented on #940
Here's a video that shows the animation we want to have for "open-in-new-tab" https://drive.google.com/file/d/0B1az_KF0ZYc_WlFxUmhhMFJZQmc/view?usp=sharing.

Rational: new tabs are appended to the top of the sidebar. The motion design literally has the page appear from the top and slide over the previous tab, informing the user of what happened.

[2016-03-24 00:23] gordonbrander commented on #919
We need to fix subpixel antialiasing on fonts in Servo. I thought there was a bug for this, but I'm having trouble finding it.

[2016-03-24 08:46] paulrouget commented on #929
Note: might be related to https://github.com/servo/servo/issues/10115#issuecomment-200057660

[2016-03-24 09:04] paulrouget commented on #953
Reduced. Filed: https://github.com/servo/servo/issues/10164

[2016-03-24 21:29] mbrubeck commented on #930
This is a Servo bug: servo/servo#10182.

[2016-03-25 07:33] #944 closed

[2016-03-25 22:14] Gozala commented on #940
@gordonbrander looks really cool, although in reality with loading page it's likely going to look worse :( Anyway what's supposed to happen if you sidebar is pinned ?

[2016-03-25 22:16] gordonbrander commented on #940
@Gozala I didn't include loading sequence in AE animation because due to time constraints, but should be fine. It will animate in as white page.

If sidebar is pinned, no change. The sidebar will remain stationary to the right of the WebView area.

[2016-03-25 22:29] Gozala commented on #940
I mean we need to add tab into sidebar, presumably animate that somehow as well no ?

[2016-03-25 22:30] gordonbrander commented on #940
@Gozala that's true! It should slide down other tabs, fade in.

[2016-03-25 22:30] gordonbrander commented on #940
@Gozala but to start, we can just make it appear immediately.

[2016-03-25 22:39] Gozala commented on #928
@paulrouget I don't see this in latest build and latest master, do you still do ?

[2016-03-25 22:47] Gozala commented on #928
Never mind I see it, I know why it's happening

[2016-03-25 23:20] gordonbrander commented on #919
Blocked by subpixel antialiasing in Servo. Filed a bug with Servo https://github.com/servo/servo/issues/10199.

[2016-03-25 23:29] #928 closed

[2016-03-25 23:42] Gozala opened #963 "Move input, overlay and suggestions into web-view"
As me and @gordonbrander found out from #843 it is going to be a far more easier implement #843 & avoid dealing with too many edge cases if we move input, overlay and suggestions into web-view component itself.

To avoid too many changes with a `about:newtab` we're going to do it as separate change.

[2016-03-25 23:42] Gozala commented on #843
Depends on #843

[2016-03-25 23:43] Gozala commented on #905
I'll deal with this after #963

[2016-03-25 23:44] Gozala commented on #931
I'll deal with this after #963

[2016-03-27 23:26] Jayflux opened #964 "Npm install fails on Windows"
Node v4.4.0
npm v3.4.1
https://gist.github.com/Jayflux/e051491cc788e17c420a

@paulrouget  have you tried running this on windows?

[2016-03-28 07:10] paulrouget commented on #964
I did not. @Gozala any idea what's going on?

[2016-03-28 08:31] Gozala commented on #964
As far as I can tell from logs issue is related to `graphene-marionette-client` package that has being very unstable (on all platforms) dependency of ours for running tests. That being said it is no longer listed in our dependencies, as I removed it given that we are focused on servo anyhow and we were not using this tool but paying cost for it's instability. We might reintroduce that dependency i

[2016-03-28 08:31] #964 closed

[2016-03-28 11:07] Jayflux opened #965 "Not running on Windows (exited with return value 101)"
https://gist.github.com/Jayflux/d3bd4bfcf65b08b604b5

I've pulled latest servo from master, built it with the release flag
and pull latest browserhtml from master and ran the local server,
then followed the instructions

Any idea what im doing wrong here?

[2016-03-28 11:28] Jayflux opened #966 "white screen and no loading when using --browserhtml flag"
http://imgur.com/6KSKzwu

Any idea why i get this?
Thanks

[2016-03-28 11:39] paulrouget commented on #966
does any page render properly with `-b` and `-w`? For example:

`./mach run -- -b -w http://firefox.com`

[2016-03-28 11:39] paulrouget commented on #965
Can you file this under http://github.com/servo/servo ?

[2016-03-28 11:40] #965 closed

[2016-03-28 18:50] Jayflux commented on #966
@paulrouget

[code]

[2016-03-28 23:25] #914 closed

[2016-03-28 23:26] gordonbrander opened #968 "show-tabs and new tab button are cut off when sidebar pinned"
This is a regression caused by https://github.com/browserhtml/browserhtml/pull/943. We should either be using percentages here, or changing the hardcoded width when sidebar is pinned.

[2016-03-29 00:52] paulrouget commented on #966
Dupe of https://github.com/servo/servo/issues/10243

[2016-03-29 00:52] #966 closed

[2016-03-29 00:54] #968 closed

[2016-03-29 04:01] paulrouget opened #970 "urlbar visible after page load"
<img width="767" alt="screen shot 2016-03-29 at 05 50 11" src="https://cloud.githubusercontent.com/assets/373579/14097656/93bac7c6-f573-11e5-80da-ea899d4c764e.png">

[2016-03-29 04:14] paulrouget commented on #970
Only happens on a slow connection.

Apparently, it happens if I press enter before ddg get a change to returns its result back.

[2016-03-29 04:24] Gozala commented on #970
Ok so I dogged into this & as I suspected issue is that when we get a query result we update with selected completion for the first suggestion. The problem is nothing really checks if input still visible or not to decide if suggestion is still still relevant or not.

We should probably check if input is still focused before updating selection here:
https://github.com/browserhtml/browserhtml/blob/m

[2016-03-29 05:07] #941 closed

[2016-03-29 18:21] gordonbrander commented on #872
Note to self: use `--pref dom.forcetouch.enabled` to toggle force touch on in Servo.

[2016-03-30 07:56] paulrouget opened #972 "Pressing escape when the content has focus quit the app"

[2016-03-30 16:53] Gozala commented on #924
Dependencies have being updated not too long ago, so these warnings no longer should be present.

[2016-03-30 16:53] #924 closed

[2016-03-30 16:59] Gozala commented on #788
This no longer seems relevant.

[2016-03-30 16:59] #788 closed

[2016-03-31 08:00] paulrouget commented on #929
With latest webrender version, this is fixed.

[2016-03-31 08:00] #929 closed

[2016-03-31 08:04] paulrouget opened #973 "Use a fallback favicon, the same way Safari does"
Go to example.com. There's no favicon defined. Now, pin example.com in Safari. They build a favicon based on the first letter of the title.

[2016-03-31 09:52] paulrouget opened #974 "Warning: Task.future is deprecated API use Task.create instead"
My terminal is flooded with this message.

[2016-03-31 11:43] paulrouget opened #976 "When 2 tabs are open, CPU around 45% (infinite rAF loop)"
With only one tab, CPU is very low, but as soon as a second tab opens, CPU goes crazy.

I'll investigate.

[2016-03-31 11:53] paulrouget commented on #976
It's because our rAF loop never stop.

STR:
- open example.com. normal CPU usage. rAF not running anymore.
- open another tab with example.com. high CPU usage. rAF looping.

[2016-03-31 13:43] paulrouget commented on #953
This works now with latest WR. Closing.

[2016-03-31 13:43] #953 closed

[2016-03-31 13:44] paulrouget commented on #930
Works now.

[2016-03-31 13:44] #930 closed

[2016-03-31 13:44] paulrouget commented on #913
I consider this done.

[2016-03-31 13:44] #913 closed

[2016-03-31 13:44] paulrouget commented on #925
I consider this done.

[2016-03-31 13:44] #925 closed

[2016-03-31 13:46] paulrouget commented on #940
P1 -> P2

[2016-03-31 13:47] paulrouget commented on #927
P1 -> P2

[2016-03-31 16:38] Gozala commented on #976
@paulrouget Ok so I looked into it a little bit and as far as I can tell there is constant update loop happening on servo, but not on gecko with a same two tabs loaded (I use `data:text/html,1` and `data:text/html,2`) it seems that something is not ending a loop correctly on servo which is surprising.

Anyway I'll add more logs to get a better idea what's going on.

[2016-03-31 16:41] Gozala commented on #976
Here is what I've got by logging every action that enters update loop:

[code]

[2016-03-31 16:47] Gozala commented on #976
Alright I know what's going on, will make a patch & explain it in a bit

[2016-03-31 17:17] Gozala commented on #976
@paulrouget attached pull fixes the issue and has details explaining what was actually going on. Now that being said I still have no idea how or why on servo we end up receiving additional tick, it is especially interesting to know why it does not happen with a single tab.

I also don't think that servo is just calling raf callback twice, because even if it did that still would not explain the iss

[2016-03-31 17:54] Gozala commented on #973
That seems neat, I like the idea.

[2016-03-31 18:33] paulrouget commented on #976
Absolutely. I will investigate.

[2016-04-01 00:13] #976 closed

[2016-04-01 06:23] paulrouget opened #979 "Remove the HTTP server"
The http server is not useful. Servo can open local files. Furthermore, when we will package servo, we won't be using a HTTP server, so i'd prefer to not use http in our development process to be closer to the in-production configuration.

[2016-04-01 10:54] paulrouget commented on #935
Note for self - need sampling for:
- browserevents no called
- browerevents called, progress.view not called
- browserevents called, progress.view called, no change transform (but changed vdom)
- with and without a fake requestAnimationFrame
- with empty slow page, with firefox.com

[2016-04-05 06:11] Gozala commented on #979
live-reload feature is very helpful tool for my development process, I would really prefer not to loose that. That being said there maybe a configuration where we could keep server just for live-reload signaling.

[2016-04-05 06:16] paulrouget commented on #979
Does this require a http server?

[2016-04-05 06:18] Gozala commented on #979
Well something needs to tell JS app to hot swap it's code, right now it's done by signaling from http server.

[2016-04-05 10:03] paulrouget commented on #935
I gathered some more data. Nothing really new here, just solidifying the previous results.

tl;dr: as of now, loading firefox.com takes 90% of the CPU, when the actual loading takes only 5%. The 85% are used for the progressbar. We can go down to ~25% total.

4 different version of browserhtml:
* *A* normal version
* *B* browseerevents not called
* *C* progress.view not called
* *D* instead of cha

[2016-04-05 10:09] paulrouget commented on #935
So the goal of this issue is to get this number down to something reasonable (a lot closer to `0`).

Maybe we should not use virtual dom for animations and use a naive animation loop. I don't know how that would play with our internal mechanism though.

@Gozala what do you think?

[2016-04-05 14:19] metajack commented on #935
cc @pcwalton

[2016-04-05 14:52] paulrouget commented on #935
@pcwalton is aware of the 2 servo issues mentioned above. This bug is about browserhtml JS code.

[2016-04-05 14:55] paulrouget commented on #935
For the record, Gecko's numbers:

[code]

[2016-04-05 15:49] #872 closed

[2016-04-05 16:01] Gozala commented on #935
1. I would like to get to the bottom of it & find out what are the bottlenecks before deciding that animations should be done differently, even if we decide so I'd like to make an educated decision rather than give up.

2. Yes we can animate things say "progress bar" outside of the main update / view loop. We could just schedule a task from update function that will run separate RAF loop just to a

[2016-04-05 17:52] paulrouget opened #981 "Implement intermediate states for forcetouch"
Followup of https://github.com/browserhtml/browserhtml/pull/971

A forced click will open the sidebar. As described [here](https://github.com/browserhtml/browserhtml/pull/946#issuecomment-199638022), we want to partially show the sidebar between a normal click and a forced click.

Like this: https://streamable.com/5j47

[2016-04-05 17:52] paulrouget opened #982 "Reintroduce scrolloutable titlebar"
Requires scrollgrab.

See https://github.com/servo/servo/issues/7672

[2016-04-06 10:15] paulrouget opened #983 "Remove the searchParams workaround"
… now that https://github.com/servo/servo/pull/10351 has landed.

PR that introduced the `searchParams` work around: https://github.com/browserhtml/browserhtml/pull/978

[2016-04-07 06:00] paulrouget opened #985 "searchParams fails with Servo (and maybe webkit?)"
Servo now includes `searchParams`, but it fails with: `searchParams[Symbol.iterator] is not a function`. Maybe because it's an older spidermonkey. Not sure.

Anyway, this also appears to fail with Chrome:

[code]

[2016-04-07 09:09] tschneidereit commented on #985
I think `Symbol.iterator` was introduced shortly after Servo's current SpiderMonkey was branched. But even if it did exist, support for using it on `URLSearchParams` instances wouldn't necessarily exist. And indeed, that was [added in Firefox 44 and Chrome 49](https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams#Browser_compatibility).

[2016-04-07 18:11] Gozala commented on #985
There seem to be a different issue on chrome and servo. Chrome does not seem to have window.URLSearchParams in first place, which throws error on `window.URLSearchParams()` as of servo it's what @paul explained.

What makes things more complicated is [`URLSearchParams`](that https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams) & all it's methods do return iterators :/

I'll try to wor

[2016-04-07 18:23] Gozala commented on #985
@tschneidereit @paulrouget Looking at the [`URLSearchParams` interface spec](https://url.spec.whatwg.org/#urlsearchparams) I don't see any other way to iterate over entries other than with `for of `. Maybe I should just always parse `url.search` myself instead ?

[2016-04-07 19:37] #985 closed

[2016-04-08 17:18] Gozala commented on #983
This is fixed already

[2016-04-08 17:18] #983 closed

[2016-04-12 05:49] Gozala commented on #935
No I'm afraid I was busy with other stuff.

https://github.com/browserhtml/browserhtml/pull/995

[2016-04-13 09:52] tschneidereit opened #998 "Rename record&replay"
Perhaps to something like store/load state, or take/restore snapshot.

The issue is that record&replay sounds a lot like the stuff `rr` is doing or that bhackett is working on for [WebReplay](https://developer.mozilla.org/en-US/docs/Mozilla/Projects/WebReplay): like it's not about a single state but a series of actions that are deterministically replayed after recording.

@Gozala, does that make s

[2016-04-13 10:12] tschneidereit opened #999 "Properly handle scheme-less host:port URLs in the location bar"
Right now, `localhost:6060` is interpreted as a URL with the scheme `localhost`, where it should be prefixed with `http://`. Unfortunately, doing this properly is far from trivial, just as the [URL syntax](https://url.spec.whatwg.org/#url-syntax). One thing we could probably get away with for now is to only identify a fixed set of schemes that we handle the current way: `data:`, `javascript:`, `ab

[2016-04-13 17:17] tschneidereit commented on #998
After talking to @Gozala, I agree that we should keep this as-is.

[2016-04-13 17:17] #998 closed

[2016-04-13 17:19] Gozala commented on #998
To be more more specific we plan on doing stuff like deterministic replay it's just first iteration that does not have it yet.

[2016-04-13 18:08] paulrouget commented on #935
#995 improves the situation but it's not switch on by default. We still need to understand why it is slow in the first place as this also affect the sidebar animation.

[2016-04-13 19:39] Gozala opened #1000 "Performance analyzes"
Currently most of the profiling done in #935 does not really give a real insight where we spend time in JS code. General browser profilers also give a very little insight

<img width="1242" alt="screen shot 2016-04-13 at 20 29 54" src="https://cloud.githubusercontent.com/assets/21236/14506381/5a5e5474-0172-11e6-845c-01d5aae0feb3.png">

For example `execute` takes vast majority of time there, but t

[2016-04-13 19:42] Gozala commented on #1000
On thing I'd like to do which is not too much work is to create a hook for recording every action that triggers app update and time how long it took. Also provide a hook to record every render that occurs with recordings of every view computation that occurs during that process and timing.

This data will help us a lot more in figuring out what the issue is than general profiling.

[2016-04-14 03:04] paulrouget opened #1001 "Catch pipeline crashes and report error"
Servo will soon catch crashes in iframes and report the crash with a mozbrowser event.

See https://github.com/servo/servo/issues/10334

We need to do something about this in browserhtml.

[2016-04-14 09:09] paulrouget commented on #982
Won't be happening because of https://github.com/servo/servo/issues/10434

[2016-04-14 09:11] paulrouget opened #1002 "after opening a 2nd tab, CPU rises up"
Looks a lot like https://github.com/browserhtml/browserhtml/issues/976

/cc @Gozala

[2016-05-02 13:05] lukaszpolowczyk opened #1008 "How browser.html scrollbars will be solved?"
How browser.html scrollbars will be solved?

At this time, Firefox scrollbar is a XUL element. In browser.html there are only pure HTML.

Everyone HTMLElement will have Shadow DOM with the scrollbar?

I was interested because I create extension, and I would like to be able to control this element and not enough to swap colors of buttons. I want to add a scrollbar new features like markers, context

[2016-05-03 07:02] paulrouget commented on #1008
This will need to be implemented in Servo. Afaik, there is no standard to style scrollbars. Webkit implement a `::webkit-scrollbar` pseudo element.

But that won't happen in browserhtml. This is a Servo issue.

[2016-05-03 07:02] #1008 closed

[2016-05-03 07:05] paulrouget commented on #1002
@Gozala any idea what's going on here?

[2016-05-03 07:06] paulrouget opened #1009 "Animations don't animate properly anymore"
If we use rAF to drive our animations, animations don't start (sidebar for example). They directly jump to the final position.

I think this is a Servo regression.

I will investigate.

[2016-05-03 07:07] paulrouget opened #1010 "progressbar is not displayed anymore"
Probably a Servo regression.

[2016-05-03 07:09] paulrouget opened #1011 "Figure out why Servo doesn't render the urlbar properly"
2 bugs at least:
- no border radius. We used to have this, but it has been solved. It regressed again.
- if the mouse leaves the urlbar from the bottom, the grey area is not dismissed. Same. This has been fixed in the past. It regressed.

I will investigate.

[2016-05-04 17:58] paulrouget opened #1012 "Resizing browserhtml doesn't resize the iframe"
I will investigate.

Screenshot:

<img width="972" alt="screen shot 2016-05-04 at 19 56 02" src="https://cloud.githubusercontent.com/assets/373579/15023794/506b4d52-1232-11e6-912b-c4277508260d.png">

[2016-05-05 07:04] paulrouget opened #1016 "Maximize button is cut off"
Regression.

<img width="93" alt="screen shot 2016-05-05 at 09 04 05" src="https://cloud.githubusercontent.com/assets/373579/15038009/680881dc-12a0-11e6-9353-4e49604385bf.png">

[2016-05-05 07:06] paulrouget opened #1017 "pin sidebar doesn't work anymore"

[2016-05-06 05:58] paulrouget commented on #1001
See: https://github.com/servo/servo/pull/10931 and https://github.com/servo/servo/pull/10551

[2016-05-06 08:50] paulrouget commented on #1010
https://github.com/servo/servo/issues/11046

[2016-05-06 09:49] #1010 closed

[2016-05-07 08:38] paulrouget commented on #1016
https://github.com/servo/servo/issues/11063

[2016-05-07 08:38] #1016 closed

[2016-05-09 14:45] paulrouget commented on #1009
Fixed in a recent servo build.

[2016-05-09 14:45] #1009 closed

[2016-05-09 14:45] #1012 closed

[2016-05-09 14:46] paulrouget commented on #970
I haven't reproduced in a while.

[2016-05-09 14:46] #970 closed

[2016-05-09 14:58] #974 closed

[2016-05-09 19:30] paulrouget opened #1022 "force touch doesn't work anymore"

[2016-05-09 19:37] paulrouget commented on #1002
can someone reproduce? Open a couple of tabs and see if CPU goes up.

[2016-05-10 08:37] paulrouget opened #1025 "+ and < buttons are not clickable anymore"

[2016-05-10 10:30] paulrouget commented on #935
Recent work greatly improved the situation. Closing.

[2016-05-10 10:30] #935 closed

[2016-05-10 11:13] paulrouget commented on #1025
It's a servo regression. Webrender hittest fails when there's a background layer with an iframe. I will file a regression test. But, we won't block on it, because we want to move these 2 buttons to the toolbar.

[2016-05-10 11:19] paulrouget opened #1027 "Move + and < buttons to toolbar"

[2016-05-10 11:19] paulrouget commented on #1025
Regression issue: https://github.com/servo/servo/issues/11108
Moving buttons issue: https://github.com/browserhtml/browserhtml/issues/1027

[2016-05-10 11:19] #1025 closed

[2016-05-10 11:26] paulrouget commented on #860
We don't want to move the + button anymore. It's moving to the titlebar.

[2016-05-10 12:16] tschneidereit commented on #1027
One obvious concern is that the buttons should be visible when the sidebar is either open or pinned. Can we perhaps use a filter to have them be the inverse color of the background? That way they would always be visible and we wouldn't have to worry about any transitions.

OTOH, inverting the background might not look great depending on the titlebar's content-based color.

[2016-05-10 12:21] tschneidereit commented on #860
Right, closing in favor of #1027.

[2016-05-10 13:56] tschneidereit commented on #1002
I don't see this issue, no. Tried with various combinations of tabs and different content in them.

[2016-05-10 14:45] paulrouget commented on #860
We still want the hamburger to move to the pinned sidebar. Re-opening.

[2016-05-10 14:47] paulrouget commented on #1027
Not sure to understand. The toolbar moves with the tab when it's zooming out. So the button are always against the same background.

[2016-05-10 14:48] paulrouget commented on #1002
I'll assign this to me. I need to figure out how to properly reproduce.

[2016-05-10 15:46] tschneidereit commented on #972
Focus needs to be on a text input for this to reproduce.

[2016-05-10 15:54] paulrouget commented on #1017
might be related: https://github.com/servo/servo/issues/11108

[2016-05-11 11:21] paulrouget opened #1028 "overlay's opacity sometimes doesn't go all the way to 0"
No STR, but this happens quiet often.

This is likely to be a Servo issue.

[2016-05-11 11:22] paulrouget opened #1029 "duckduckgo doesn't scroll"
I don't know why yet.

Likely to be a Servo bug. I will investigate.

[2016-05-11 11:24] paulrouget opened #1030 "We need a way to report errors"
I don't know what the exact story here is, but if an iframe crashes, or the whole program crashes, or if there's a rendering issue, the user needs to be able to report the error.

This will require https://github.com/browserhtml/browserhtml/issues/1001

Maybe we will need a user interface for this.

[2016-05-11 11:47] paulrouget commented on #1017
Doesn't work with Electron either.

@Gozala can you confirm?

[2016-05-11 13:34] tschneidereit opened #1031 "Buttons are only clickable after receiving a mouse-over event"
This is somewhat subtle, but prevents effective automation of UI interactions:
If you try clicking a button, the close button in the upper-right corner, say, before moving the mouse over it, it doesn't receive the click event.

STR:
- move the mouse close to, but not over, the `close` button
- cmd-tab-switch to another window
- move the mouse so that it would be over the button
- cmd-tab-switch ba

[2016-05-11 13:37] Gozala commented on #1017
Whait what on the contrary, it always works on Electron & actually works in servo as well if non duckduckgo page is active. On duckduckgo I'm just unable to click a button

[2016-05-11 14:11] paulrouget commented on #1031
Servo keeps track of the mouse coordinate has it receives mouse move events. This probably should be done when it gets the focus as well.

I'll look at this.

[2016-05-11 14:13] paulrouget commented on #1017
Indeed! I works now I've updated master and the modules :)

[2016-05-11 14:14] paulrouget commented on #1017
ok - so the issue with ddg is interesting. There are 2 bugs here. The page overflows (bug 1) and its overflowing content prevents clicking (bug 2).

I'll investigate.

[2016-05-11 14:15] paulrouget commented on #1031
no wait… I'm mistaken… trying to understand what's going on

[2016-05-11 14:16] paulrouget commented on #1031
ok - I get it. This is what I was saying.

[2016-05-11 14:19] paulrouget commented on #1031
Hmm, mouse-over would be solved by updating `self.mouse_pos` in ports/glutin/window.rs, but I don't understand why click doesn't work. It doesn't use `mouse_pos`.

[2016-05-11 14:20] tschneidereit commented on #1031
Yeah, that's roughly what I assumed, and makes sense.

[2016-05-11 14:21] paulrouget commented on #1031
actually… it does use `mouse_pos`. `Event::MouseInput` (from glutin) should come with a coordinate, or we should trigger a mouse move when servo gets the focus.

[2016-05-11 14:24] tschneidereit commented on #1031
@paulrouget, it does receive a `click`, actually. Perhaps we also have an issue in browser.html that prevents the click from doing anything useful?

[2016-05-11 14:25] paulrouget commented on #1031
This is what happens:

- move the mouse over the window, glutin sends new coordinates
- lose focus
- move mouse
- focus is gain
- click
- servo use the latest coordinate from the first step to click

On focus gain, we need to update the coordinates. We don't have this information from glutin though.

[2016-05-11 14:26] paulrouget commented on #1031
When glutin sends the click, it doesn't come with a coordinate.

[2016-05-11 14:27] tschneidereit commented on #1031
Ah, that makes sense.

[2016-05-11 14:36] paulrouget commented on #1031
https://github.com/servo/servo/issues/11130

[2016-05-12 06:36] paulrouget commented on #1031
Let me close this in favor of servo/servo#11130

[2016-05-12 06:36] #1031 closed

[2016-05-12 07:38] paulrouget commented on #1017
Depends on https://github.com/servo/servo/issues/11151

[2016-05-12 07:38] paulrouget commented on #1029
Depends on https://github.com/servo/servo/issues/11151

[2016-05-12 08:37] paulrouget commented on #1001
To simulate a crash, we can use `--random-pipeline-closure-probability 0.3` (crash with a pipeline with a probability of 0.3).

We get a `mozbrowsererror` event from the iframes. It's supposed to have a `fatal` type, but that's not working yet (see https://github.com/servo/servo/issues/11152). But Servo only report `mozbrowsererror` for crashes so far, so it's always a fatal error.

`event.detail.

[2016-05-12 09:19] tschneidereit commented on #1001
We had that problem in Shumway. I built an [issue reporter](https://github.com/tschneidereit/Shumway-Issue-Reporter) that sent the reports to a server that I had set up. In the end we didn't use that for long because, even though I had gone to some lengths to not include sensitive information, there were privacy concerns. Essentially, whenever we collect user data, we need to involve data stewards

[2016-05-12 14:33] asajeffrey commented on #1001
At the moment there's no way to test crashes from random threads, just ones attached to a pipeline.

[2016-05-12 21:00] Gozala opened #1033 "Docking undocking sidebar should be smooth"
Right now docking / undocking sidebar causes web content jump due to iframe resize. We should find a way to make this transition invisible for a user

[2016-05-13 11:08] paulrouget commented on #1022
Working with a recent build.

[2016-05-13 11:08] #1022 closed

[2016-05-13 12:50] paulrouget commented on #1001
`type=fatal` works now.

[2016-05-13 13:44] asajeffrey commented on #1001
#11155 fixed the `type=fatal` problem.

[2016-05-14 09:06] rubenvb opened #1035 "Failure to create OpenGL context on Intel Ironlake (OpenGL 2.1)"
When building from the latest git sources and trying to run `./mach run --browserhtml` on Arch Linux on my laptop running Intel integrated graphics (first gen i5 CPU) with Mesa 11.2.2, I get this error on launch:

[code]
I can run other 3D programs, such as KWin compositing, glxgears, and I even had The Talos Principle running (quite slowly) off this GPU.

[2016-05-14 20:23] perlun opened #1036 "Scrollbar is missing"
Can be seen on web pages such as Wikipedia. Upstream servo issue is this: https://github.com/servo/servo/issues/6182

I guess this cannot be easily fixed without solving it in servo, either by drawing the scrollbars or providing the interface as suggested there.

[2016-05-15 08:23] paulrouget commented on #1036
Closing this as there's nothing to be done in browserhtml.

[2016-05-15 08:23] #1036 closed

[2016-05-15 17:50] perlun commented on #1036
Fair enough. Do you not think it would make some sense to have an issue open for tracking this? I mean, it is in fact a form of "defect" in browserhtml (even though it's caused by limitations upstream). That's at least how I tend to think about it.

[2016-05-16 06:33] paulrouget commented on #1036
That would have made sense if this would have required browserhtml work or would have involved multiple cross-project issues, but here, it's really just about servo supporting scrollbars.

Furthermore, our team is both working on servo and browserhtml, having 2 bugs about the same thing is not helping.

So no need for a top-level or meta bug.

[2016-05-16 08:47] paulrouget commented on #972
https://github.com/servo/servo/issues/11194

[2016-05-16 13:51] paulrouget commented on #1002
I can't reproduce. I'll re-open if it happens again.

[2016-05-16 13:51] #1002 closed

[2016-05-16 13:52] paulrouget commented on #972
PR on its way: https://github.com/servo/servo/pull/11200

This will require to start Servo with this option: `--pref shell.quit-on-escape.enabled=false`

[2016-05-16 15:32] paulrouget opened #1037 "reddit loads for ever in browserhtml"
Here is a simple html app to run with servo:

`servo -w -b --pref dom.mozbrowser.enabled a.html`

[code]

We can see that the iframe both loadstart and loadend events.

Now, in browserhtml, loading reddit.com, the loadend event is not caught.
It doesn't happen all the time, but on my laptop, around %50 of the time.

STR:

- `servo -w --pref dom.mozbrowser.enabled http://localhost:6060 2>/dev/null`

[2016-05-16 15:34] paulrouget commented on #1037
Can someone please try to reproduce?

[2016-05-16 15:34] paulrouget commented on #1037
Also, use a recent servo build (May 16th).

[2016-05-16 16:24] tschneidereit commented on #1037
Tried reproducing this about 20x with the current Homebrew build, to no avail.

[2016-05-17 02:34] paulrouget opened #1038 "releasing forcetouch closes the sidebar"

[2016-05-17 02:35] paulrouget commented on #1035
Please file this under http://github.com/servo/servo/issue

[2016-05-17 02:35] #1035 closed

[2016-05-17 04:24] paulrouget commented on #1037
Interesting, here Servo fails to send any `https://reddit.com` `loadend` events, and CPU goes crazy.

I have 2 theories:
- ssl issue related to https://github.com/servo/servo/issues/11008#issuecomment-217243111
- CPU is so busy, that the script thread never gets a chance to send the `loadevent`

[2016-05-17 08:25] paulrouget commented on #1037
Servo bug: https://github.com/servo/servo/issues/11223

[2016-05-17 08:44] paulrouget commented on #1037
Closing in favor of https://github.com/servo/servo/issues/11223

[2016-05-17 08:44] #1037 closed

[2016-05-17 13:07] #972 closed

[2016-05-17 20:30] perlun commented on #1036
Hehe, fair point. :smile: Forgive my ignorance in this case; I haven't really contributed anything to browserhtml yet (only servo), so apologies for coming in and drawing the wrong conclusions here.

[2016-05-18 02:27] paulrouget opened #1040 "Timeout on infinite page load"
Sometimes, a page takes a very long time to load because of different Servo bugs. See for example:
* https://github.com/servo/servo/issues/11223#issuecomment-219812952
* https://github.com/servo/servo/issues/11008#issuecomment-217243111
* https://github.com/servo/servo/issues/8342#issuecomment-219836619

We should let these pages load, but because the progressbar performance cost is not negligible

[2016-05-18 06:39] paulrouget commented on #1038
This happens because we get a click on the overlay when it's released.

[2016-05-18 07:01] paulrouget commented on #1038
This doesn't always happen because of a bug in Servo where the iframe get the mouse events before the overlay. See https://github.com/servo/servo/issues/11108

[2016-05-18 16:35] paulrouget commented on #1001
I think we will go for a simple solution first. We will display the error and offer the user to copy/paste it. Uploading to github or reporting to any other mechanism we might already have in place will happen later.

[2016-05-20 08:17] paulrouget commented on #1001
I've implemented a new protocol handler in servo that opens http urls in the OS-default web browser. See https://github.com/servo/servo/pull/11286.

So all we need is to get the backtrace, and offer the user to click on a link that looks like this:

exthttps://github.com/servo/servo/issues/new?title=Crash%20report%20from%20browserhtml&body=very%20long%20backtrace

[2016-05-20 19:00] Gozala opened #1041 "There is brief moment when you navigate away from page when you see previous page url"
So if you're on say `about:newtab` and then navgiate away to say `wikipedia.com` you'll see titlebar in following states:

1. "New Tab"
2. "file://.../newtab/index.html"
3. "wikipedia.org"
4. "Wikipedia"

2nd is definitely something you should not see, maybe 3rd should not be displayed either.

What I think is happening is:

1. on `LoadStart` titel is blanked out, but we don't know `url` being loa

[2016-05-22 00:21] pcwalton opened #1042 "Stop rebuilding the entire virtual DOM on every animation frame"
It looks like you're rebuilding the entire virtual DOM every animation frame with the `view` calls. There's no way this can possibly be fast enough to hit 60 FPS: I've profiled this and the JS engine time (just in JS!) exceeds 16 ms regularly on my MacBook Pro 2.8 GHz Haswell.

During the tab switch animation, the only thing that ends up changing is a few styles on each tab and Web views stack. Is

[2016-05-22 01:11] pcwalton commented on #1042
@wycats tells me the React solution for this is called `shouldComponentUpdate`.

[2016-05-22 05:12] paulrouget commented on #1042
That's not supposed to be the case. We're only supposed to rebuild what has changed.

[2016-05-22 05:12] paulrouget commented on #1042
(we don't use React)

[2016-05-22 05:17] paulrouget commented on #1042
@pcwalton which version of browserhtml do you use?

[2016-05-22 05:20] wycats commented on #1042
I think @pcwalton isn't talking about real DOM mutations, but rather rebuilding the Virtual DOM, which can get expensive once your vdom reaches a certain size.

[2016-05-22 05:21] paulrouget commented on #1042
I know.

[2016-05-22 05:22] wycats commented on #1042
How do you know what changed before you rebuild the vdom? Do you have some kind of pure-function system a la Redux? Or an escape valve like `shouldComponentUpdate` like React?

[2016-05-22 06:06] Gozala commented on #1042
We do have an optimization in place to reduce amount of vdom that needs to be generated in form of thunk nodes that are equivalent to react's shouldComponentUpdate hook. Thunks are lazy node representations that only get computed during diffing if state from which actual node is generated changed.

Typed on tiny keyboard

[2016-05-22 06:08] Gozala commented on #1042
It could be that we do regenerate more than we should / could though. I'll look into it on Monday

Typed on tiny keyboard

[2016-05-22 06:46] Gozala commented on #1042
@pcwalton also as @paulrouget suggested try latest master & make sure to update npm deps. We fixed few bugs in the libs that caused GC pauses & few that derailed us from jit

[2016-05-23 08:18] paulrouget commented on #1042
For the record, I'm updated browserhtml in Servo.

[2016-05-23 12:31] paulrouget commented on #1042
@pcwalton Here, with a macbook 12", the JS time is around 3ms per requestAnimationFrame during a tab switch. While profiling, during a tab switch, I see 24% spent in the script thread.

I'm wondering if you've been using an old version of browserhtml.

Also - we believe we can do better, but we decided that was "good enough" until June.

[2016-05-23 12:48] paulrouget commented on #1042
Correction: mean time in `requestAnimationFrame` 5.18ms.

[2016-05-23 23:15] nox commented on #1001
Btw, could we make a separate repos for the reports? I just remembered arbitrary users can't set labels, so we will have to do all the triage if we want them to mark as user reports or something like that.

[2016-05-23 23:28] pcwalton commented on #1042
Oops. I had a debug SpiderMonkey. I sure feel dumb.

[2016-05-23 23:28] #1042 closed

[2016-05-24 04:28] paulrouget commented on #1001
@nox absolutely.

[2016-05-25 14:34] paulrouget opened #1043 "Create a default profile directory for browserhtml runs"
Now that https://github.com/servo/servo/issues/10338 has landed, we want browserhtml to create a prefs.json file with these preferences set:

[code]

[2016-05-25 15:09] tschneidereit commented on #1029
Scrolling works now that https://github.com/servo/servo/issues/11151 has landed.

[2016-05-25 15:09] #1029 closed

[2016-05-26 07:35] Gozala commented on #982
Alternatively we could do it with [wheel](https://developer.mozilla.org/en-US/docs/Web/Events/wheel) but they don't seem implemented in servo either servo/servo#11435

[2016-05-26 07:59] paulrouget commented on #982
I think we can be a lot smarter about this. If we still want to do that, let's talk with @pcwalton about the proper way to implement it. I'm pretty sure it's super easy to do in Servo. The only real blocker for this is the not-perfect support for `overflow:scroll`. I need to spend some time to test the recent work @pcwalton  did to support `overflow:scroll`.

[2016-05-26 16:20] Gozala opened #1044 "Text in the input not selectable via touchpad / mouse"
I believe it used to work before but does not seems to work anymore.

[2016-05-26 16:28] Gozala opened #1045 "Elements with a higher index over iframes don't receive / capture events"

[2016-05-26 16:43] Gozala opened #1046 "goBack usually crashes servo"
To reproduce just go to wikipedia.org click any link then go back. This usually crashes servo and here is an output I see:

[code]

[2016-05-26 18:32] Gozala opened #1048 "CSS transition that changes opacity or color with opacity causes render glitches"

[2016-05-28 20:41] Coder206 commented on #973
@paulrouget Did you have a chance to try Test Pilot for FireFox yet? I think there may already be "in-house" code we could use to implement this great idea.

[2016-05-28 20:47] Coder206 commented on #973
@paulrouget I found a code script in JS by Mozilla Activity Stream. This may help us implement this: https://github.com/mozilla/activity-stream/blob/master/content-src/components/SiteIcon/SiteIcon.js

[2016-05-29 11:56] paulrouget commented on #973
@Coder206 cool! Maybe this is something we should reuse.

[2016-05-29 11:58] paulrouget commented on #1048
@Gozala do you have an example?

[2016-05-30 05:33] paulrouget commented on #1046
Thanks - I can reproduced and file https://github.com/servo/servo/issues/11499, and marked it as a P1.

[2016-05-30 05:33] #1046 closed

[2016-05-30 05:35] paulrouget commented on #1045
Yes. Known, filed, and being worked on: https://github.com/servo/servo/issues/11108

[2016-05-30 05:35] #1045 closed

[2016-05-30 05:51] paulrouget commented on #1044
I don't thing this was ever possible. Selecting text in an input element is not different from selection text in page, and here is the relevant bug: https://github.com/servo/servo/issues/7492

[2016-05-30 05:51] #1044 closed

[2016-05-31 16:51] Gozala opened #1050 "Rename `Flags` to `Options`"
Many modules define `Flags` type that is passed to `init` to construct an instance. `Flags` implies booleans while types tend to contain all kinds of fields there for we should choose a better name like `Options`.

[2016-05-31 17:24] Gozala opened #1051 "Simplify WebView/Navigation model"
Model currently contains `state` string & `secure` boolean fields where at least one of them seems redundant.

[2016-05-31 18:29] Gozala opened #1053 "Window focus / blur misbehaves"
If you blur the the window mac window controls remain active while they should gray out. Also when you bring focus back an newtab page input field should get selection, but that does not happen as we don't receive event to do so.

Caused by servo/servo#11526

[2016-05-31 18:37] Gozala opened #1054 "Iframe content is not retained with in the iframe"
Here is the screenshot illustrating the issue

<img width="834" alt="screen shot 2016-05-31 at 10 41 52 am" src="https://cloud.githubusercontent.com/assets/21236/15686177/f766fa7e-2723-11e6-822e-5ed012c8c2ae.png">

URL loaded in the tab is http://www.vox.com/

[2016-05-31 18:39] Gozala commented on #1053
Depends on #9482 I guess.

[2016-06-01 00:53] paulrouget commented on #1054
This has already been fixed. We need a webrender update though.

Closing in favor of https://github.com/servo/servo/issues/11358

[2016-06-01 01:29] paulrouget commented on #1053
Closing in favor of servo/servo#9482 (P3 at the moment)

[2016-06-01 01:29] #1053 closed

[2016-06-01 08:24] paulrouget opened #1056 "Latest changes introduced a lot of logs, flooding the terminal"

[2016-06-01 09:46] paulrouget opened #1057 "Remove the overlay when editing the url"
It's annoying.

[2016-06-01 09:47] paulrouget opened #1058 "assistant is not dismissed after page load"
STR:
- type the URL of a page
- press enter
- assistant is still here

[2016-06-01 09:53] paulrouget opened #1059 ""+" button is not working"
It does nothing here.

[2016-06-01 09:56] paulrouget opened #1060 "Cmd-T doesn't work anymore"

[2016-06-01 10:36] paulrouget opened #1062 "Make the newtab page look a bit more simple"
I know it's probably not the right time to bikeshed, but I don't like the current look. It's too big.

Here are 3 images:
1. current design
2. proposed design
3. proposed design with wallpaper support

Maybe it's better.

![1](https://cloud.githubusercontent.com/assets/373579/15706738/5fea0178-27f5-11e6-9641-ea25b90e4a91.png)
![2](https://cloud.githubusercontent.com/assets/373579/15706739/5febb3ba

[2016-06-01 10:36] #1056 closed

[2016-06-01 10:40] tschneidereit opened #1063 "Pressing Esc with a single tab open sometimes quits the browser"
STR:
- Open Servo using `servo -w -b --pref dom.mozbrowser.enabled http://localhost:6060`
- Click on the Wikipedia tile
- Wait for the load to finish
- Press `Esc`

This is using rev b55f284e46c6fc720ebc66819dc1d91d83a27587 and today's homebrew servo.

[2016-06-01 10:44] paulrouget commented on #1063
You're missing some prefs: https://github.com/browserhtml/browserhtml/blob/master/gulpfile.babel.js#L145

[2016-06-01 10:44] #1063 closed

[2016-06-01 10:45] tschneidereit commented on #1063
Hrm, yes. Can't we make that the default? Why would it make sense for `Esc` to ever close the app?

[2016-06-01 11:37] paulrouget commented on #1063
When you're not working on browserhtml I guess? Feel free to file a servo issue.

[2016-06-01 13:57] Coder206 commented on #1062
@paulrouget I agree, I like the last the most. The first is much of a copy of Speed Dial. Maybe let's give the freedom to choose to the user.

[2016-06-01 15:10] julianrichen commented on #1062
If you pick the new design you also avoid needing to create [tiles](https://github.com/browserhtml/browserhtml/tree/master/src/about/newtab/tiles) for the top 100 sites since you are using favicons instead.

[2016-06-01 15:33] tschneidereit commented on #1062
Let's talk about this in London the week after next.

[2016-06-01 15:44] Gozala commented on #1060
Can you elaborate ? I think what you see (on servo) is that opening a link does not open new tab as expected and then when you hit `CMD-T` it does nothing, but what is really going on is that `New Tab` is already open.

If you try the same in Electron after you open a new tab, `CMD-T` jumps back to `New Tab` page.

[2016-06-01 15:45] Gozala commented on #1059
duplicate of #1060

[2016-06-01 15:45] #1059 closed

[2016-06-01 15:47] Gozala commented on #1057
@paulrouget it will be gone in `about:newtab` page but will remain in regular tabs, at least that was a design. Former is worked on under #1055

[2016-06-01 15:49] Gozala commented on #1028
Do you still see this issue with latest changes ?

[2016-06-01 15:50] #1027 closed

[2016-06-01 15:50] Gozala commented on #1027
Fixed by #1047

[2016-06-01 15:51] Gozala commented on #843
Fixed by #1047

[2016-06-01 15:51] #843 closed

[2016-06-01 15:51] Gozala commented on #963
Fixed by #1047

[2016-06-01 15:51] #963 closed

[2016-06-01 16:00] paulrouget commented on #1060
Oh right. So there's no way to open multiple new tabs. That's unexpected.

[2016-06-01 16:00] paulrouget commented on #1060
anyway - closing issue.

[2016-06-01 16:00] #1060 closed

[2016-06-01 16:03] Gozala commented on #1058
Oh right, I did not realize that fix for this end up in my followup patch #1055 I'll factor it out into separate pull.

[2016-06-01 16:31] Gozala commented on #1060
Well supposedly with #11539 clicking links on dashboard will open them in new tabs (already a case in Electron). Another issue is that typing in address-bar on new tab page should open whatever you typed in new tab vs navigate away which will be fixed by #1055

[2016-06-01 18:04] Gozala commented on #1038
@paulrouget It is assigned to you, does that mean you're going to fix it ? Also should it be a P2 instead ?

[2016-06-01 18:17] Gozala opened #1068 "Rendering glitches during tab switch (crossfade) animation"
![rendering-glitches](https://cloud.githubusercontent.com/assets/21236/15720705/5931d802-27ea-11e6-9570-3ffaa5219033.gif)

[2016-06-01 20:15] Gozala opened #1069 "Sidebar does not hide after tabs are switched with `ctrl tab` keybinding"
I suspect this is due to `ctrl` keyup not being dispatched. I think it's regression from the latest servo I have installed today.

[2016-06-01 20:57] Gozala commented on #1069
As I suspected issue is related to `keyup` event not being dispatched when `control` key is released. I have submitted servo/servo#11547 for this.

[2016-06-01 20:59] Gozala commented on #1068
P.S.: I think it's regression from the last servo update as I have not seen it before.

[2016-06-02 02:30] Coder206 commented on #919
@paulrouget @gordonbrander I was thinking, it might be more intuitive to the user if we can use the default OS font. With code like this: https://css-tricks.com/os-specific-fonts-css/

[2016-06-02 05:25] paulrouget opened #1071 "Consider supporting mozprivatebrowsing"
https://github.com/servo/servo/pull/11544 is about to land.

I don't think it would cost too much to add a button somewhere to create a private tab.

Not sure yet, but worth considering.

Marking this as P1. Not for the implementation, but just to think about how this could be done. If it's not too much work, let's do it.

[2016-06-02 05:33] paulrouget commented on #919
As for today, we use os fonts. So not problem here.

[2016-06-02 05:36] paulrouget commented on #1068
This has always been here. I never investigated, but I know that the WR folks have been working on tab switching improvements for WR2.

[2016-06-02 05:41] paulrouget commented on #1028
No. Closing until I can reproduce.

[2016-06-02 05:41] #1028 closed

[2016-06-02 06:10] magsout commented on #919
@Coder206 @paulrouget or maybe with this code https://medium.com/designing-medium/system-shock-6b1dc6d6596f#.jbj9ksypi ?

[2016-06-02 06:14] paulrouget commented on #919
There is no CSS problem here.

[2016-06-02 13:14] #1058 closed

[2016-06-02 17:46] Gozala opened #1073 "Handle theme-color updates even after first paint"
This is a followup on #1055:

[2016-06-02 17:48] Gozala opened #1074 "Remove a "Fila a Bug" button that does nothing at all."

[2016-06-02 18:23] Gozala opened #1075 "Some tiles from about:newtab don't get clipped properly"
In the image below you can see that Twitter and Thumblr tiles aren't rounded as expected

<img width="832" alt="screen shot 2016-06-02 at 11 21 44 am" src="https://cloud.githubusercontent.com/assets/21236/15756022/3c9b5054-28b4-11e6-8652-a5625e5b13a8.png">

[2016-06-02 18:28] Gozala commented on #1075
It seems that issue is related to window size, my guess is content that overflows is no longer clipped properly. @pcwalton mentioned following in his webrender presentation:

Exceptions are if we run out of texture space in an atlas or have a clipping region that isn't a (rounded) rectangle.

My guess is about:newtab page falls into that exception and webrender probably has a bug that causes it to

[2016-06-02 18:40] Gozala commented on #1075
After further investigation I have submitted following bug servo/servo#11562

[2016-06-02 18:47] Gozala commented on #1075
Submitted a fix on browser.html side that avoids the issue.

[2016-06-02 18:59] Gozala commented on #1071
@paulrouget This requires some UX work & I honestly don't think it's going to make a much difference in terms of demoing or talking to people about browser.html so I'd rather put it off & think about it after All Hands

[2016-06-02 19:09] #1057 closed

[2016-06-02 19:09] Gozala commented on #1057
Fixed by #1055

[2016-06-02 19:10] Gozala commented on #1073
I made it P2 as I don't think it's less important thing for All Hands

[2016-06-02 19:14] Gozala commented on #1017
As far as I can tell fix for the mentioned bug resolved this issue. Closing, reopen if you still see it.

[2016-06-02 19:14] #1017 closed

[2016-06-03 03:30] #1074 closed

[2016-06-03 04:30] paulrouget commented on #1071
I think it's cool to show that servo supports private browsing.

/cc @metajack what do you think? Is it worth adding that in browserhtml?

[2016-06-03 04:49] metajack commented on #1071
I don't feel strongly. On the one hand it's cool to show off that we can already do it, on the other it is probably not something we want people to think is usable yet, because it might still have bugs.

cc @larsbergstrom

[2016-06-03 16:02] Gozala commented on #1075
Workaround has landed on our side and there is a bug on file for servo, there for I think we can close this.

[2016-06-03 16:02] #1075 closed

[2016-06-03 16:17] Gozala commented on #1068
I'm pretty sure crossfade used to work better in the past. I think we should get rid of the crossfade if we don't have a fix it in time for "All Hands"

[2016-06-03 16:21] Gozala commented on #1068
@pcwalton has some fix in mind with iframe backgrounds (which I did not fully understood). If it's that fix not going to work out let's ditch the crossfade or try a different animation.

[2016-06-03 16:43] Gozala opened #1081 "Window does not has rounded corners"
It seems that servo is failing to clip iframes even within the window boundaries:

<img width="885" alt="screen shot 2016-06-03 at 9 13 17 am" src="https://cloud.githubusercontent.com/assets/21236/15786091/87001d3a-296f-11e6-8f6f-e43614414228.png">

This also seems to be a regression from last servo build as it did not used to be the case given the screenshots I've being posting earlier this week.

[2016-06-03 23:15] Coder206 opened #1082 "BrowserHTML not starting"
I am unable to get Servo running on Linux or Windows using the command `./mach run -r --browserhtml`.

On Fedora 23, I received an error message picture below:

![fedora23](https://cloud.githubusercontent.com/assets/7758155/15795434/80cc9394-29bf-11e6-8745-e87d2abe37bf.png)

On Windows 10, I receive a blank screen. (pictured below)
![w10](https://cloud.githubusercontent.com/assets/7758155/15795466

[2016-06-04 14:02] Coder206 commented on #1082
Here is the result after using `npm run build-server`

"0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build-server' ]
2 info using npm@3.8.9
3 info using node@v6.2.0
4 verbose run-script [ 'prebuild-server', 'build-server', 'postbuild

[2016-06-04 14:04] #1082 closed

[2016-06-04 14:12] Coder206 opened #1083 "Easy Find in Page"
To simplify search on a current webpage, I think it would be more intuitive if you could just start typing and browserhtml starts finding all the matches for the text input. The code would activate when there is no focus on other text field elements. This allows a search in page experience similar to Fedora 23 where this concept is used when searching for programs.

[2016-06-06 16:38] tschneidereit opened #1084 "Remove background color selection from about:newtab for now"
Without integration into a larger concept, the color selection isn't all that useful and mostly a distraction. Let's remove/hide it for now.

[2016-06-06 16:39] metajack commented on #1084
It made me thing there were multiple tab panes and i was supposed to switch between them somehow.

[2016-06-06 16:52] tschneidereit commented on #1084
Yes, that was my first interpretation, too.

[2016-06-07 03:55] paulrouget commented on #1081
Known issue that has been downgraded to P2: https://github.com/servo/servo/issues/9983

[2016-06-07 04:14] paulrouget commented on #1040
Servo side, things progressed very well. So this is not important anymore. Closing.

[2016-06-07 04:14] #1040 closed

[2016-06-07 05:31] paulrouget opened #1086 "When sidebar is pinned, the close button prevents clicking on the tab"

[2016-06-07 05:32] paulrouget commented on #1068
Agreed.

[2016-06-07 06:08] paulrouget commented on #1069
Works for me with the new build.

[2016-06-07 06:08] #1069 closed

[2016-06-07 16:25] Gozala commented on #1054
Latest servo build fixed servo/servo#11358 but this is still broken

[2016-06-07 16:51] Gozala commented on #1054
Looks like we have servo/servo#11650 on this one.

[2016-06-07 18:08] Gozala commented on #1038
This seems to be caused by servo/servo#11664 @paulrouget do you think it can be fixed in servo or should we come up with a workaround ?

[2016-06-07 18:33] Gozala commented on #1038
Create a workaround #1087 that is not so bad & avoids the issue described here.

[2016-06-07 18:33] #1084 closed

[2016-06-08 06:22] paulrouget commented on #1054
Yeah. Closing in favor of https://github.com/servo/servo/issues/11650.

[2016-06-08 06:22] #1054 closed

[2016-06-09 15:55] sole opened #1088 "Implement better support/error reporting for file:// protocols"
Right now we can't access file:// urls

Not sure about the security implications of this, etc. In the meantime we can launch a local server, obviously.

[2016-06-09 15:57] jdm opened #1089 "Support loading an initial URL"
This would allow us to support passing an initial URL like ./`mach run -r -b http://mozilla.org`, which I always forget doesn't work.

[2016-06-09 15:57] jdm commented on #1089
I'm imagining a query string parameter for the initial browser.html page would do the trick.

[2016-06-09 16:07] sole commented on #1088
Correction: it seems like we can access them, but if the loading doesn't work, there's no way to know what the issue was because you only get a white screen

[2016-06-09 16:13] tschneidereit commented on #1088
I get an error screen when trying to load non-existent `file:` urls: http://i.imgur.com/6CUV55I.png

[2016-06-10 23:46] Coder206 commented on #105
@Gozala @paulrouget Can I help out on getting this cross platform?

[2016-06-10 23:50] Coder206 opened #1090 "Display the supported OSs"
It took me a while to figure out browserHTML doesn't even support my OSs, Linux and Windows. Can we make this more obvious to visitors on the Readme.md page?

Also, I would be happy to help make browserHTML Linux and Windows, possible even Android compatible.

[2016-06-12 11:38] #1090 closed

[2016-06-14 15:22] paulrouget commented on #1090
It works on both Windows and Linux.

[2016-06-14 15:22] paulrouget commented on #105
It is already.

[2016-06-21 10:56] johannhof opened #1095 "Indicate insecure connections instead of secure connections by default"
As mentioned on Slack, these are some ideas that are floating around the Security UI team right now, but obviously it's not possible to implement them in Firefox short-term. Would be cool to see someone try it out.

- do not indicate secure connections anymore, but assume https as default and show only the domain name
- strongly indicate http-only and active mixed content pages in the urlbar/title

[2016-06-23 22:05] Gozala commented on #1089
@jdm we already have machinery in place for query params as they being used to pass in certain configurations. We could add `url=http://mozilla.org` for opening it in a tab.

[2016-06-23 22:10] Gozala commented on #1083
@Coder206 there is a bug for searching adding search in page in first place #163 once that is fixed we can consider this. That being said, I used to have that feature enabled for firefox and soon enough run into issues with various sites that were they would handle keybindings while firefox would also search in page, so I have doubts about this feature honestly.

[2016-06-23 22:31] Coder206 commented on #1083
@Gozala I agree, I am having trouble with it too.

[2016-06-24 09:36] paulrouget commented on #1083
That would be pretty hard to get right, indeed. Even with the `/` prefix, it's already broken in many websites with Firefox.

[2016-06-24 12:55] paulrouget opened #1099 "Assistant is not always dismissed"
STR:
- type firefox.com and press enter, fast enough for the assistant to not show up
- wait until it's loaded
- press Cmd-T
- assistant shows up with pre-filled suggestions

[2016-06-24 18:09] Gozala opened #1100 "Leaving pointer from title from the bottom leaves it hovered"
Steps to reproduce:
1. Hover the page title, it will turn grey
2. Move mouse quickly to the bottom, if you do it quick enough title remains grey. It should turn transparent though regardless how fast you leave the title.

[2016-06-24 18:11] Gozala opened #1101 "Page summary / title isn't clipped properly"
When you hover the page summary / title grey background appears. It should have rounded corners but it does not.

This is regression in servo

[2016-06-24 18:11] Gozala commented on #1011
Closing in favor of #1100 and #1101

[2016-06-24 18:11] #1011 closed

[2016-06-24 18:20] Gozala commented on #1101
Submitted a servo/servo#11857

[2016-06-25 10:39] paulrouget commented on #1100
This is a regression of https://github.com/servo/servo/issues/7865

Filed https://github.com/servo/servo/issues/11864

[2016-06-28 16:29] paulrouget opened #1103 "Use https://duckduckgo.com/html/?q=foobar for the search page"
We have issues with duckduckgo, but the non-js version of ddg appears to work.

https://duckduckgo.com/html/?q=foobar

[2016-06-28 17:53] Gozala opened #1105 "Uncaught TypeError: Cannot read property 'title' of undefined"
I have recently start running into following error:

[code]

Offending code is here:
https://github.com/browserhtml/browserhtml/blob/cff9c1337108e77704182d357f39c7c223ff1487/src/browser/Navigators/Navigator/Assistant/search.js#L182

The problem occurs when search returns no suggestions (meaning `model.items` is `[]`). The surprising detail is that flow does not catch that error, while it should.

[2016-06-28 20:29] jonathandturner opened #1106 "browser.html breaks on first page load"
I filed a similar issue on the Servo repo (https://github.com/servo/servo/issues/11905).  Basically, browser.html breaks for me during the first page load and the location box is no longer clickable after this happens.

What I posted to them:

In a recent build (starting in the last week or so), if I run servo with -b (./mach run --release -b) to get browser.html, and I navigate to a page, I get a

[2016-06-28 20:38] Gozala opened #1108 "cursor.js:27 Uncaught TypeError: update is not a function"
It seems that we have introduced circular dependency somewhere which causes following error

[code]

It's coming from `WebView.js` and is due to the fact that `Tab.update` was not there at the time when `updateTab` was created.

[2016-06-28 21:47] huwdp commented on #1106
I can confirm I also have the same issue as yourself.

[2016-06-28 21:48] ConnorGBrewster commented on #1106
I believe this is not an issue on master bhtml, so this could possibly be fixed already.

[2016-06-29 04:00] paulrouget commented on #1106
Not happening in master. I'll updated bhtml in Servo.

[2016-06-29 04:00] #1106 closed

[2016-06-29 04:05] paulrouget commented on #1106
https://github.com/servo/servo/pull/11922

[2016-06-29 09:04] paulrouget commented on #1068
There's no glitches anymore, but it's jumpy.

[2016-06-29 09:05] paulrouget commented on #1103
Depends on https://github.com/servo/servo/issues/11908

[2016-06-29 09:17] paulrouget commented on #1068
For the tech demo we probably want to disable the opacity animation. I don't know how to do that though.

[2016-06-29 22:45] Gozala commented on #1105
I believe this was caused by servo / browser.html version mismatch.

[2016-06-29 22:45] #1105 closed

[2016-06-29 22:47] Gozala opened #1112 "Temporarily disable cross-fade animation"
This behaves really bad on servo, right now. We should disable animation until crossfade works.

[2016-06-29 23:10] #1112 closed

[2016-06-29 23:11] #1103 closed

[2016-06-30 01:42] Coder206 opened #1116 "Bring the speed dial to Windows"
The speed dial is missing when using Windows 10

[2016-06-30 01:43] ConnorGBrewster commented on #1116
@Coder206 are you working off of latest servo/master?

[2016-06-30 01:45] Coder206 commented on #1116
@ConnorGBrewster Yes, I am pretty sure.

[2016-06-30 01:46] Coder206 opened #1117 "No dwelling on the past (for tabs)"
Browser.HTML is showing an old tab in the mean time the new one is loading. It's a little awkward when waiting for the new tab to show up - if it ever does.

[2016-06-30 01:48] Coder206 commented on #1116
@ConnorGBrewster Hold on...

[2016-06-30 01:52] Coder206 commented on #1116
@ConnorGBrewster I just pulled the code from upstream master, I was missing a few files. So the answer to your question: no.

[2016-06-30 09:19] paulrouget commented on #1116
Servo master or bhtml master?

[2016-06-30 09:20] paulrouget commented on #1116
Well, both should have the speed dial since the 0.1.8 update.

@ConnorGBrewster do you see the speeddial now?

[2016-06-30 09:22] paulrouget opened #1118 "Don't use radius on windows and linux"

[2016-06-30 09:49] tschneidereit commented on #1117
That's what all browsers do. Turns out the perceived page load time is longer if you don't show anything, or a loading spinner, until the page has loaded enough to render it. The only reason this is somewhat bad in Servo/browser.html right now is that the network layer and disk cache aren't fully optimized yet and so the load takes longer than in other browsers.

I'll close this, as we don't plan

[2016-06-30 09:49] #1117 closed

[2016-06-30 10:59] paulrouget opened #1119 "huge perf regression since #d19c552"
STR:
- open 3 tabs (hackernews for example)
- open sidebar
- super janky animation

See commit d19c552

[2016-06-30 11:31] #1119 closed

[2016-06-30 12:36] Coder206 commented on #1116
@paulrouget Servo master.

[2016-06-30 12:39] tschneidereit commented on #1116
@Coder206 what did you mean by "I was missing a few files" above? And do things work for you now?

[2016-06-30 12:40] Coder206 commented on #1116
@tschneidereit I meant there were file changes. I am not sure, just recompiling now.

[2016-06-30 14:28] samal84 opened #1126 "Error running browser.html on windows: ./python/servo/post_build_commands.py line 161"
Tried building browser.html on Windows 7 and got this error on running ./mach run -r --browserhtml:
/home/rasmuss/source/servo/target/release/build
[code]

Full console output attached.
[console-output.txt](https://github.com/browserhtml/browserhtml/files/341642/console-output.txt)

[2016-06-30 14:29] tschneidereit commented on #1126
@samal84 does this only happen if you pass `--browserhtml`, or also if you just do `./mach run -r`?

[2016-06-30 14:46] samal84 commented on #1126
`./mach run -r` gives exactly the same thing.

[2016-06-30 14:49] tschneidereit commented on #1126
Ok, then it's definitely not a browser.html issue. Can you open an issue on [servo/servo](/servo/servo)?

[2016-06-30 14:49] #1126 closed

[2016-06-30 14:50] tschneidereit commented on #1126
@samal84, but thanks for reporting. I know it's not always obvious which project to report things for.

[2016-06-30 16:01] tschneidereit commented on #1118
Fixed by #1121.

[2016-06-30 16:01] #1118 closed

[2016-06-30 16:03] tschneidereit opened #1127 "Make search suggestions clickable"
While it's possible to select a suggestion using `<up>` and `<down>`, it should also be possible to click them.

Nice to have for the tech demo.

[2016-06-30 16:05] tschneidereit opened #1128 "Dismiss the sidebar when clicking on a tab"
using `ctrl+tab` to go through the list of tabs shouldn't close the sidebar if it's currently open. Clicking on a tab should, though: it shouldn't take two clicks to select a tab.

This'd be really nice to get for the tech demo.

[2016-06-30 16:44] tschneidereit opened #1131 "Bundle New Tab page demos"
The four links at the bottom currently target servo.org. We should instead bundle them to avoid network issues from making the experience worse than it should be.

[2016-06-30 17:27] Coder206 commented on #1116
I was missing some code!

[2016-06-30 17:27] #1116 closed

[2016-06-30 17:48] #1131 closed

[2016-06-30 18:36] Gozala commented on #1128
So according to UX design behavior should be following:

Once tab selection is complete it should hide the sidebar. This includes selection via `ctrl + tab` and also `click` on the tab. Currently `ctrl+tab` works as expected, it will hide sidebar whenever you release `ctrl` key so you can move selection without hiding sidebar, but once you're done it'll hide.

Thing that does not work as expected

[2016-06-30 19:01] #1128 closed

[2016-06-30 19:49] #1127 closed

[2016-06-30 21:34] #1099 closed

[2016-06-30 23:53] glennw opened #1144 "Show target URL on mouse hover"
Firefox pops up a status bar showing the URL under the mouse, so you can see it before you click a link.

browser.html should do something similar - perhaps with a different UI - but allowing the user to see a URL before clicking.

[2016-07-01 00:11] #1001 closed

[2016-07-01 12:23] Coder206 commented on #1083
How about we use the address bar to find in page. Simply type everything inside that bar...

[2016-07-01 12:41] tschneidereit commented on #1083
How would you differentiate between in-page searches and online searches/URL input? Those last two already overload how the input is interpreted - searching within the page would add another dimension and is, I think, way too much.

[2016-07-01 12:47] Coder206 commented on #1083
@tschneidereit It depends how it is being implemented... Give me a moment to make a UI mockup to show you what I mean.

[2016-07-01 13:22] Coder206 commented on #1083
Here is a simple UI for addressing this issue, would love to hear comments about it:

![findinpage_mod](https://cloud.githubusercontent.com/assets/7758155/16522703/5fbab3de-3f6d-11e6-9f08-9603f16abb14.png)

[2016-07-01 13:26] tschneidereit commented on #1083
That means that every in-page search hits the network first, and you can't just start entering a string to search for and immediately see results highlighted on the page. Both of these are deal breakers.

[2016-07-01 13:29] Coder206 commented on #1083
@tschneidereit What do you mean by "hits the network first"?

[2016-07-01 13:33] samal84 commented on #1126
Thank you @tschneidereit

Created here: https://github.com/servo/servo/issues/12051

[2016-07-01 13:36] tschneidereit commented on #1083
If I understand your proposal correctly, you'd first enter your search string into the location bar and then press "Find in Page", right? Up to the point where you press the "Find in Page" button, we'd assume that you want to navigate somewhere, so we'd load suggestions. Now you could say that we just shouldn't do that and instead require a second "Find Online" button, but then we're talking about

[2016-07-01 13:43] Coder206 commented on #1083
@tschneidereit Correct when you mentioned "Find in Page". As for "Find Online", I don't like that idea, I believe the search suggestions should remain as presented above.

The proposal is just: Adding a option in the drop down of the address bar called "Find in Page" to allow a user to find text inside a webpage.

[2016-07-01 13:44] tschneidereit commented on #1083
Understood. But that means that every attempt to find something within the current page will have to send your search to the network, too.

[2016-07-01 13:46] Coder206 commented on #1083
@tschneidereit Is that because the address bar always sends it's content through the network?

[2016-07-01 13:55] tschneidereit commented on #1083
How else would it should search suggestions?

The fundamental problem is this: when searching for something, the natural approach is to start typing and choose a matching suggestion as soon as it appears. Say you want to search for `mozilla`, so you start typing `moz`. At that point, we'll already show search suggestions that are quite likely to match, so you can stop typing. This is important for

[2016-07-01 13:57] tschneidereit commented on #1083
Here's another issue: after pressing "Find in Page" and then dismissing the location bar, what if you want to search for the same term again, or change the query? If you click on the location bar again, it displays the page's location, not your last search. (It should, at least. If it doesn't, the opposite question becomes relevant: how do you get to the page's location after searching within the

[2016-07-01 14:00] Coder206 commented on #1083
@tschneidereit I understand your concern!

[2016-07-01 14:54] asajeffrey opened #1151 "Add an identifying string to crash reports"
Over in IRC (http://logs.glob.uno/?c=mozilla%23servo&s=1+Jul+2016&e=1+Jul+2016#c470678) @ConnorGBrewster suggested adding an identifying string to crash report bodies, which highfive (or other bots) could use.

[2016-07-01 15:12] jdm opened #1153 "Check for presence of mozSettings"
There's always a `ReferenceError: navigator.mozSettings API is not available` when running in Servo. It would be nice if this didn't show up.

[2016-07-01 15:14] Gozala commented on #1083
We were actually going to use our omni input field for search in page, for executing commands and more. @gordonbrander has done UX & specification work for all of this, specifically to address issues @tschneidereit pointed out.

You can find specs & mocks in the existing issues

[2016-07-01 15:43] #1083 closed

[2016-07-01 16:27] Coder206 commented on #1083
@Gozala I can't seem to find @gordonbrander's specs and mocks in the issues. Do you mind pointing that out for me?

[2016-07-01 16:39] Coder206 commented on #163
@gordonbrander Are you proposing a secondary search bar for searching inside a page?

[2016-07-01 16:41] Coder206 commented on #793
I am interested in helping to build this website.

[2016-07-01 16:59] Gozala commented on #793
@Coder206 Thanks! Our goals have shifted since we originally started this project / issue. Given our current focus I am not exactly sure if we need separate website from servo.org or not. Maybe we do or maybe we can improve servo.org. I'll make sure to discuss this with the team so we can figure out what to do here.

P.S.: Unfortunately most of the team is going to be on vacations in coming weeks

[2016-07-01 17:02] moosingin3space opened #1154 "Navigation buttons on mouse are ignored"
I have a mouse with buttons on each side that are used for moving Forward and Back. The buttons work in Firefox 47.0 and Chrome 50.0.2661.102, but not with the Servo/browserhtml nightly build from today. Alt-Arrow works for navigation, but the mouse does not. This was observed on Ubuntu 14.04.4.

[2016-07-01 17:11] Coder206 commented on #793
@Gozala Ok perfect thanks.

[2016-07-01 17:12] Gozala commented on #163
@Coder206 interaction is described in the wireframes document:

https://drive.google.com/open?id=0B1az_KF0ZYc_bzIyZzJRTm4tZVk

[2016-07-01 17:19] Coder206 commented on #163
@Gozala Very good. Thanks :)

[2016-07-01 17:21] Coder206 commented on #163
@Gozala That interaction seems to be most ideal. :)

[2016-07-01 17:22] Gozala commented on #163
Document does not seem to say it but intention was that `CMD F` would just focus input bar with `page: ` pre-entered so you can just type in the term to search in page.

[2016-07-01 17:24] Coder206 commented on #163
@Gozala Exactly, I find the `page:` idea most intuitive to get this working.

[2016-07-01 17:26] bheesham commented on #1086
Additional acceptance criteria:

- cbrewster

[2016-07-01 17:30] Gozala commented on #163
I still have my resurrections with the fact that until you reach `:` character we'll be querying search engine with what you typed. But we might come up with some solution to fix this.

[2016-07-01 17:40] Coder206 commented on #163
@Gozala I noticed "-page" yields very little results on Bing. Could this be a way to solve your concern? (where browserhtml automatically searches in page when the first character is "-" and is followed by "page")

[2016-07-01 17:42] bltavares opened #1155 "Typing too fast on the url bar mess things up"
I was trying to access a website that I type fast, but I think that when the suggestion response arrives delayed, it mess the cursor up.

How to reproduce: Try to access a website by typing it really fast.
What happens: The cursor jumps around, and the typed url is wrong.

Here is a recording of the problem: https://gfycat.com/FaintFewDipper

[2016-07-01 17:43] ConnorGBrewster commented on #1155
filed on Servo in servo/servo#12039

[2016-07-01 17:46] Gozala commented on #163
I was suggesting to go with `:page`, `:go back`, `:reload` etc. as a way to hook in commands. That way from the first character we could decide weather user wants to run command (in fact suggest available commands you user types) or search the web. @gordonbrander had resurrections though due to being too engineer minded and less humane.

What we learned working through different interactions thoug

[2016-07-01 17:48] Coder206 commented on #163
@Gozala Funny, after coming up with ":page" too, I thought of it and came to the same conclusion as @gordonbrander

[2016-07-01 17:50] Gozala opened #1156 "If you go back while page is loading, progressbar does not stops loading."
This is really bad because progressbar will never actually finish loading.

[2016-07-01 17:58] Gozala commented on #1156
Fix would be to just handle goBack / goForward / stop similar to [how we handle `LoadEnd`](https://github.com/browserhtml/browserhtml/blob/master/src/browser/Navigators/Navigator.js#L437)

[2016-07-01 18:07] Gozala opened #1157 "Suggestions sometimes blow away what you typed"
@fitzgen keeps running into issue where what he types gets blown away by the suggestions. Typically typing `git` seems to reproduce it every now and then.

[2016-07-01 18:11] Gozala commented on #1157
@fitzgen if you can reproduce the issue with this pull request. You'll be able to do a session record (see [instruction](https://github.com/browserhtml/browserhtml/wiki/Browser-options#record)):
https://github.com/browserhtml/browserhtml/pull/1015

Then I'll be able to reproduce & figure out what's going on.

[2016-07-01 18:32] fitzgen commented on #1157
This eventually got typing "git" turning into a "GTE" completion: https://api.github.com/gists/c3614266cfca6cd0ba9efa65a0a8a794

[2016-07-01 23:51] Gozala commented on #1157
Actual url we care about is:

https://gist.githubusercontent.com/anonymous/c3614266cfca6cd0ba9efa65a0a8a794/raw/6202b71e77a810ef29e837b8de7c10fc291767bd/snapshot.json

[2016-07-02 07:22] yump opened #1158 "Large images are not rendered, sometimes"
1. Go to [this picture of an owl on the Wikimedia commons](https://commons.wikimedia.org/wiki/File:Tyto_alba_-British_Wildlife_Centre,_Surrey,_England-8a_(1).jpg).

2. Try opening the "other resolutions".

On my machine, the 1504x1880 image never renders (blank white page), and the 819x1024 image sometimes doesn't render.

OS: Fedora 23, Ubuntu libssl loaded with LD_LIBRARY_PATH.

Graphics: GTX 66

[2016-07-02 07:25] yump opened #1159 "All and sundry problems with the URL bar"
First, the end of the URL is cut off even when there is plenty of horizontal space to display it.

Second, the URL cannot be copied. No right click menu.  Ctrl+C doesn't work.  URL appears highlighted, but cannot be middle-click-pasted into other applications.

Third, the URL cannot be edited.

OS: Fedora 23, Ubuntu libssl loaded with LD_LIBRARY_PATH.

Graphics: GTX 660 with Nvidia blob 367.27

[2016-07-02 07:46] yump opened #1160 "Resizing the window causes black frame flickering"
[Video example](https://u.pomf.is/hdpqnx.webm)

OS: Fedora 23, Ubuntu libssl loaded with LD_LIBRARY_PATH.

Graphics: GTX 660 with Nvidia blob 367.27

[2016-07-02 14:33] asajeffrey opened #1161 "Add version and userAgent to issue reports"
Once https://github.com/servo/servo/pull/12136 lands, we should put the version and userAgent into each issue report.

[2016-07-02 14:36] asajeffrey commented on #1161
Related to #1151 cc @Gozala

[2016-07-02 18:16] mason-larobina opened #1162 "New tab order."
Opening a new tab counter-intuitively places the new tab index at 0.

For example with the following tabs open and tab index 1 active:

[code]
Pressing `Ctrl+T` (open new tab) results in:

[code]

And a subsequent `Ctrl+W` (close tab) does nothing.

I would have expected the following behaviour on `Ctrl+T`:

[code]

And `Ctrl+W` to return to the original state:

[code]

Thanks!

(Moved from https:

[2016-07-02 21:16] suhr opened #1164 "URL bar autocomplete is annoying"
When you press arrow key (←) to fix a typo it makes completed text persistent so you have to remove it.
Then you type text in the middle of word, it autocompletes the end.
Also it blinks while it really should not to.

Servo/browserhtml: nightly build.

Additional info: Yandex is a good example how proper autocomplete looks like. Everything is instant, completion is grey and becomes a text only wh

[2016-07-05 00:06] Min1123 opened #1165 "Bug Reports via GET too long for NGINX, 414, should probably be a POST"
Attempting to play a video on YouTube caused an error, a report button was displayed with a stacktrace in the app, but when I clicked on it, it tried to submit the bug, but the URI was too long on the GET to NGINX, so NGINX rejected it with a 414 code.

This should probably be marshaled to something and sent to a POST endpoint instead.

[2016-07-05 22:55] Gozala commented on #1165
Problem is we can't actually use POST as we're using default browser to submit issues, so there's no way could tell it to send POST requests. That being said it's good to know that we are hitting the URL limits, we'll try to come up with an alternative way to report issues.

Would you mind posting a URL that hits the limit next time you're run into this ?

P.S.: youtube isn't going to work as serv

[2016-07-05 23:04] Gozala opened #1167 "Auto complete should not provide selected completions on deletes"
Currently if you type something, very likely you'll get an autocomplete with completion being selected. Idea is that you can continue typing, if competition isn't what you care about, or hit enter to navigate to suggestion.

Unfortunately if you had a typo and need to delete several characters, you'll end up needing to double backspace per character.

1. To delete selection.
2. To delete actual ch

[2016-07-05 23:07] Gozala commented on #1164
Thanks for the feedback @suhr you are right current behavior is annoying, as it requires double backspace key per each character & it will be resolved by #1167

As of blinks that is unexpected, can you provide more details on that ?

[2016-07-05 23:15] Gozala commented on #1162
@mason-larobina thanks for the feedback. I am afraid current behavior is expected one. In this UX we are trying to get rid of some of the pre-existing notions like bookmarks, history, new tab. In the current UX
`New Tab` is a special tab that is always at the top off the list and you can't close. There is no opening new tab, there is switching to `New Tab`. Order of tabs most recent on the top is

[2016-07-05 23:15] #1162 closed

[2016-07-05 23:19] Gozala commented on #1160
Moved this bug into repo servo.

[2016-07-05 23:19] #1160 closed

[2016-07-05 23:28] Gozala commented on #1159
Could you please provide a screenshot or something, to illustrate what you mean ? Input field intentionally has fixed horizontal size, which does not take full horizontal space. But I guess you might see something else.

For now servo has not implement mouse interactions with input fields see servo/servor#10083. We also have no context-menus implementations neither on servo nor browser.html. As of

[2016-07-05 23:31] Gozala commented on #1158
@yump thanks for the report. Please submit UI related issues here, and rendering issues into https://github.com/servo/servo/issues instead.

Moved this to https://github.com/servo/servo/issues/12281

[2016-07-05 23:31] #1158 closed

[2016-07-05 23:33] Gozala commented on #1155
This is duplicate of #1157, please subscribe there for updates on this.

[2016-07-05 23:33] #1155 closed

[2016-07-05 23:40] suhr commented on #1164
1. You have something autcompleted in the URL bar
2. You type more
3. Autocomplete text disappears
4. Since autocomplete is not instant, showing next autocompete looks like blink

Autocomplete really should not be just selected text (again, just look at yandex).

[2016-07-05 23:57] suhr commented on #1167
Sometimes you just don't want the suggested part at all.

[2016-07-05 23:57] Gozala commented on #1144
We talked about using titlebar for this in past, I don't think we have concrete mockups though.

[2016-07-06 00:07] Gozala commented on #1164
@suhr I understand you like the way yandex autocomplete works. We might in fact move to something along those lines. That being said current behavior is by design, so until we change the design I don't think there is much value in keeping this issue open (For updates on delete please subscribe to #1167).

As of flickering you have the same behavior on yandex, it's just due to faded completion it's

[2016-07-06 00:07] #1164 closed

[2016-07-06 00:08] Gozala commented on #1167
True. Our assumption is that top suggestion more often will be where you want to go than not. Which is why we decided on current default.

[2016-07-06 04:50] #1157 closed

[2016-07-06 11:19] #1161 closed

[2016-07-06 21:38] Gozala opened #1171 "Shift+LeftArrow should extend selection of autocomplete"
Right now suggestion engine autocompletes input with a selection, but if user does `Shift+LeftArrow` selection is subtracted from the right instead of being extended to the left. Following screenshots illustrate behavior

<img width="549" alt="screen shot 2016-07-06 at 2 36 21 pm" src="https://cloud.githubusercontent.com/assets/21236/16635413/2325bb4e-4387-11e6-970f-d167bdd9707c.png">

After `Shif

[2016-07-06 22:28] #1167 closed

[2016-07-06 22:28] #1171 closed

[2016-07-06 22:28] #1153 closed

[2016-07-07 18:22] Gozala opened #1173 "Selecting next / previous suggestions does not update autocomplete"
This regression was intruded by #1157

`control p / control n` or hovering suggestions in drop down should update autocomplete selection in the input field.

[2016-07-07 19:41] Gozala opened #1175 "Suggestions don't update and autocomplete is removed when entering character that matches autocomplete"
I just found one edge case that, I would like to also include with this fix. Related to a #1167

If you you say type **am** you'll get following in the input field (non bold part is completion selection): **am**[azon](#). Then if you type `a` again you'll wind up with: **ama**.

Selection disappears and no suggestion will be updated. That is because we check if the new input is part of the old inp

[2016-07-07 20:01] Gozala opened #1176 "Selection changes don't always reflect properly"
When you type **ama** in input field you'll get bunch of suggestions when selecting through them, sometimes selection goes away instead of updating properly. See attached gif for better description

![selection-updates](https://cloud.githubusercontent.com/assets/21236/16667695/af7edc18-4442-11e6-960f-51c0df5ea0b2.gif)

As you can notice once "amazon books" is selected selection disappears.

[2016-07-07 20:06] Gozala commented on #1176
I notice one pattern in this issue. Selection does not update properly only when previous & next selection ranges ( `start` and `end` position) are equal, where `end` position is directly related to the length of the input `value`.

My guess is that selection does not get updated because next selection is equal, and the fact that `value` has changed is not taken into account.

[2016-07-07 20:19] Coder206 opened #1177 "All caps and shift enabled for keys"
When I tried a build of Servo and bhtml after pulling the master branch yesterday at around 8:30, the characters in bhtml's address bar were capitalized and it was like shift was being pressed continually. (When writing commands in MinGW, the characters were lowercased).

This issue was found on a Windows 10 system.

[2016-07-07 21:31] Gozala commented on #1175
This is actually worth then I thought, because after you do this:

Selecting suggestion no longer triggers autocomplete, or more specifically `Input` rejects suggestions due to the fact that typed input & query no longer match.

To fix this we should improve logic for detecting deletes added in #1170, such that added input that matches autocomplete is not interpreted as deletion. That way suggesti

[2016-07-07 22:13] #1173 closed

[2016-07-07 22:36] freebroccolo opened #1179 "Electron app doesn't work without Node integration"
I am trying to load the electron app with electron `v1.2.6`. The window shows up with the address bar and you can type stuff in but it won't actually load any URLs or anything unless `nodeIntegration` is re-enabled [here](https://github.com/browserhtml/browserhtml/blob/master/main.js#L56).

Is this expected? Is there some other way to start the app with electron that doesn't have this issue?

[2016-07-08 18:11] Gozala commented on #1175
I have decided to rewrite the `Navigator/Input` so that model will track entered `query` separate from the `value` rendered in the input. Otherwise we were pretty much trying to guess what the `query` given the `value` and `selection` and that just was tricky and error prone.

[2016-07-08 18:34] #1176 closed

[2016-07-12 20:39] Gozala opened #1182 "Handle non-pipeline thread panics in the root document."
Servo will dispatch mozbrowsererror's on the root document for non-pipeline thread panics. We should handle them and hook them into existing error reporter code base.

[2016-07-12 20:40] Gozala commented on #1182
Idea is that event interface will be the same and there for event name will be `mozbrowsererror`. We'll be able to handle those as `window.addEventListener('mozbrowsererror, handler)`

[2016-07-12 21:12] Gozala commented on #1179
Hi @freebroccolo thanks for letting us know. I have being testing it with electron v1.0.1 without `nodeIntegartion` & it works fine.

I guess something has changed in newer versions of Electron. I'll try to investigate into this, when I get a chance. That being said, Electron support isn't very high priority so I may not get to this soon.

If you'd be willing to look into what's breaking I'd be ha

[2016-07-12 21:15] Gozala commented on #1179
It seems that in 1.11.1 `webview` tag is disabled when `nodeIntegration` is off in host window, which would explain this issue: https://github.com/electron/electron/releases/tag/v1.1.1

[2016-07-12 21:37] freebroccolo commented on #1179
Ah, thanks for looking into this. I suspected it was something like that. Do you have a workaround in mind? What about leaving `nodeIntegration` enabled but running a preload script to remove unsafe modules?

[2016-07-12 22:28] Gozala commented on #1179
That could be an intermediate solution (I'd be happy to take a pull request for this 😉).

In longer term I would like to find out why Electron disabled `webview` tag (my guess after skimming through the linked issues in release notes, is in order to re-enable sandboxing) or what is expected usage. For example how does brave browser go about it ?

[2016-07-12 22:30] Gozala commented on #1179
/cc @paulrouget as this the Electron's decision here might be relevant to our future webview / mozbrowser API design work.

[2016-07-13 00:00] Gozala commented on #1175
Work on this can be tracked under #1185 Due to large scale changes, I'll have to split pull into many incremental changes.

[2016-07-14 00:38] freebroccolo commented on #1179
@Gozala I'm not sure how they do it in the brave browser but from [this issue](https://github.com/electron/electron/issues/6157) it sounds like preload may be the expected approach.

[2016-07-14 01:13] poiru commented on #1179
[Issue #5173](https://github.com/electron/electron/issues/5173) has some context. Enabling `nodeIntegration` is not safe because of that bypass.

[2016-07-14 17:18] vtomole opened #1186 "Build failed"
I tried npm install --no-optional and I got this:http://pastebin.com/GCyMKccW

[2016-07-14 19:31] Gozala commented on #1186
@vtomole It seems that npm is failing to install `flow-bin@0.28.0` can you try running `npm install flow-bin@0.28.0` and if that still fails reporting an issue to https://github.com/facebook/flow

P.S.: It seems to install just fine on my machine & travis as well.

[2016-07-14 19:48] Gozala commented on #1175
This turned out to be a larger scale work than I anticipated. More specifically it touches `Assistant` /  `Search` & `History` along, as once user starts deleting we need to make sure drop down with suggestions gets updated but no completions will be suggested until user starts typing or manually selects suggestion. This requires redesign in how assistant currently behaves.

[2016-07-16 22:11] linclark commented on #1089
I've been looking for a way to get more familiar with the browserhtml code base and this seemed like a good issue to get started on. I've posted a first pass in #1187. I'm not sure whether this is the correct approach, so please let me know if I should approach it a different way.

[2016-07-18 07:46] paulrouget commented on #1144
It'd be ok with this, as long as we keep it mind that this could be used by a website to spook its url.

Maybe this could look like this:

[code]

[2016-07-18 10:26] paulrouget opened #1188 "setVisible is never called"
Is the action `MakeNotVisible` ever used?

This causes https://github.com/servo/servo/issues/12012

[2016-07-18 11:29] paulrouget opened #1189 "Investigate race in urlbar"
See https://github.com/servo/servo/issues/12039

[2016-07-18 15:40] paulrouget commented on #1189
Apparently it's fixed: https://github.com/browserhtml/browserhtml/pull/1166

[2016-07-18 15:40] #1189 closed

[2016-07-18 17:56] Gozala commented on #1089
Hi @linclark thank for taking time to look into code base and & a pull, I really appreciate. I will provide inline commentary about the changes in the pull request itself.

[2016-07-18 20:14] vtomole opened #1190 "mk_add_options: command not found"
I'm trying to build gecko by following these instructions:https://github.com/browserhtml/browserhtml/wiki/Building-Graphene-%28Gecko-flavor%29

when I run:mk_add_options AUTOCLOBBER=1, I get mk_add_options: command not found.

[2016-07-19 03:31] paulrouget commented on #1190
autotools are probably not installed. See https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Build_Instructions/Simple_Firefox_build

This is unrelated to bhtml. Closing.

[2016-07-19 03:31] #1190 closed

[2016-07-19 03:40] paulrouget commented on #1177
Seen that somewhere else in Servo issues.

Can you reproduce without browserhtml?

[2016-07-19 03:44] paulrouget commented on #1156
Aren't we supposed to get a `loadend` event from Servo followed by a `loadstart` on goBack?

[2016-07-19 03:46] paulrouget commented on #793
A browserhtml specific landing page would be confusing.

[2016-07-19 03:47] paulrouget commented on #1154
I'm wondering how the key event looks like in glutin. Not sure it's supported.

[2016-07-20 18:42] #1089 closed

[2016-07-26 09:44] samuknet opened #1191 "Paste from clipboard not working"
I have noticed when trying to paste (using Cmd-V) anywhere in Servo while using browser html, nothing happens on my machine.

Most commonly occurs when trying to paste a URL into the URL bar although the issue also occurs trying to paste in any text input within a web page.

I am running on OS X, El Capitan if this is of any help! 😃

[2016-07-26 09:49] paulrouget commented on #1191
Because of this: https://github.com/servo/servo/pull/12507

[2016-07-28 18:09] Gozala opened #1192 "CMD+T should focus the input field in new tab page"

[2016-08-01 17:20] Gozala opened #1209 "Rename `Press` messages received on click events to `Click`"
Followup for #1203

[2016-08-02 03:39] #1209 closed

[2016-08-02 21:09] Gozala opened #1212 "Use frame.setVisibility API on mozbrowser tabs."

[2016-08-02 21:10] Gozala commented on #1212
I've created a demo for prototyping purposes https://Gozala.jsbin.com/qowezaz

[2016-08-03 03:26] paulrouget commented on #1188
Fixed by https://github.com/browserhtml/browserhtml/pull/1213

[2016-08-03 03:26] #1188 closed

[2016-08-03 08:02] paulrouget opened #1217 "Consider switching to google.com"
We all love duckduckgo, but I think we should rather use Google to make sure it's properly tested.

Does it make sense?

[2016-08-03 12:55] tschneidereit commented on #1217
I'm not convinced. At this point it doesn't seem like google working should have much priority over other sites. Once we get closer to any sort of production usage, that changes, obviously. At that point, we should have robust regression testing for popular sites, though.

[2016-08-03 13:46] paulrouget commented on #1217
Google is the most used website in the world. I think that's a good reason to make it a priority :)

Servo got better at rendering duckduckgo because it's what we use today. Now it works, maybe it's time to improve google.com.

Also - the google result page appears to work pretty well. So it won't break browserhtml I think.

[2016-08-03 14:23] tschneidereit commented on #1217
I agree, obviously. I'm less sure about whether we need to make it a priority *now*, though.

[2016-08-03 22:43] Gozala commented on #1212
Fixed by #1213

[2016-08-03 22:44] #1212 closed

[2016-08-03 22:45] Gozala commented on #1175
Fixed by #1185

[2016-08-03 22:45] #1175 closed

[2016-08-03 22:48] Gozala commented on #1156
You tell me :) But it does not seem to, so if you go back while page is loading we wind up with infinitely loading progressbar.

[2016-08-03 23:18] Gozala commented on #1192
The main roadblock here is that I kind of avoided doing a proper job with a `Navigator` while introducing `NewTab` page. Right now it's ad hock workaround to accommodate special needs of `NewTab`, what we should do instead is allow `Navigator`s of different kind same as `Assistant.Suggestion` allows different kinds of `Suggestions`.

[2016-08-04 01:23] paulrouget commented on #1156
I'll look. If it doesn't, let's fix it in Servo.

[2016-08-04 01:28] paulrouget commented on #1217
The benefit is that we'll get people to test google.com.
If it doesn't cost us to much trouble, it's worth it.

[2016-08-05 04:38] paulrouget commented on #1144
For reference: http://electron.atom.io/docs/api/web-contents/#event-update-target-url

[2016-08-05 19:47] Gozala opened #1220 "Implement zoom in / out animation with a CSS transition"
Got blocked by https://github.com/servo/servo/issues/12749

[2016-08-05 19:47] Gozala opened #1221 "Implement sidebar animation as a CSS transition."

[2016-08-05 20:15] #1182 closed

[2016-08-05 20:21] #1159 closed

[2016-08-05 20:22] #1108 closed

[2016-08-05 20:25] #1030 closed

[2016-08-05 20:26] #1000 closed

[2016-08-05 20:59] Gozala commented on #949
This is not fixed by #948 as far as I can tell.

[2016-08-05 21:03] Gozala commented on #949
Ok, it seems to be related to the VirtualDOM stuff. Problem is we do not touch 'src' when location changes, because if did that would cause a page load. So what happens is that we change src back to what it was, then when VirtualDOM does diff / patch it can see that `src` attribute hasn't changed  so it does not `setAttribute('src', url)` and there for load does not occur.

I need to think about t

[2016-08-06 16:23] ConnorGBrewster opened #1223 "Can't move cursor in URL while page is loading"
If you select the URL in the URL bar, and use the arrows to try to move the cursor, the text will deselect and reselect quickly. Which makes it so you cannot move the cursor to one side or the other of the URL.

[2016-08-08 01:35] paulrouget commented on #1221
I believe this is better because for performance, but can you explain why we want to do that now?

[2016-08-08 02:24] paulrouget commented on #1179
There are 2 kind of privileges: privilege to use `<webview>`, privilege to use node. Both have higher privileges than normal content. It's hard to expose `<webview>` in a way that it works with normal content privilege in a secured way. Webviews grows significantly the attack surface of the engine. For example, recently, there were 2 security issues recently reported where a webview could enable n

[2016-08-08 02:24] #1179 closed

[2016-08-08 07:57] paulrouget commented on #1156
Not to self: going back to suspend an already suspended timeline.

[code]

[2016-08-08 18:08] Gozala commented on #1223
@ConnorGBrewster could you please post specific steps to reproduce, I am not sure I understand what you were describing.

[2016-08-08 20:01] ConnorGBrewster commented on #1223
Steps:
1. click on hacker news on newtab page
2. close the tab and click on github on newtab
3. Select the URL bar and use the arrow keys

[2016-08-09 10:43] paulrouget commented on #1156
We first require this: https://github.com/servo/servo/issues/12784

[2016-08-10 21:17] Gozala opened #1224 "Removing mozbrowser and creating new one with diff domain breaks UI"
I believe #1223 is due to this issue, if you do following:

1. Open wikipedia.
2. Close that tab.
3. Attempt to open any other page on different domain.

Page is never loaded and input keeps selection no matter what & in general browser is in a semi broken state.

My guess is there is a regression in servo somewhere.

[2016-08-10 22:54] Gozala commented on #1224
https://github.com/servo/servo/issues/12807 is a corresponding servo issue

[2016-08-11 22:33] Gozala opened #1227 "keybindings not working if iframe is focused"
This is a huge usability issue, if you load `wikipedia.org` for example no keybindings work any more, presumably because all keyboard events go into iframe before giving a outer document to handle those.

[2016-08-11 22:36] Gozala commented on #1062
Unless I'm mistaken we decided to make some tweaks (that already landed) but otherwise leave as is.

[2016-08-11 22:36] #1062 closed

[2016-08-11 22:38] Gozala commented on #1048
Duplicate of #1068

[2016-08-11 22:38] #1048 closed

[2016-08-11 22:39] Gozala commented on #979
Closing this for now!

[2016-08-11 22:39] #979 closed

[2016-08-12 00:49] paulrouget commented on #1227
This will take some time, and it's part of the thing I want to be specified in the new API.

[2016-08-12 14:11] #949 closed

[2016-08-12 18:55] Gozala commented on #1165
I wonder if we could embed gists in here:

<script src="https://gist.github.com/Gozala/457967c3f6908e00b99b4379335c254c.js"></script>

[2016-08-12 20:23] Gozala opened #1230 "TypeError: Couldn't open URL: Operation not permitted (os error 1)"
browser.html fails to submit crash report, due to exception at: [`./src/browser/IssueReporter.js:103`](
https://github.com/browserhtml/browserhtml/blob/31ae5cb94b02a951994895e9aca4bdae357bb16f/src/browser/IssueReporter.js#L103) with following message:

[code]

You can reproduce it with latest nightly: `Servo 0.0.1-4cefbcc` and following steps:

1. click on hacker news on newtab page
2. close the t

[2016-08-12 20:24] Gozala commented on #1230
@paulrouget can you look at it ? Please note that currently we don't log error so in order to see it you'd need to manually modify mentioned line to log it or do whatever you want.

[2016-08-12 20:27] Gozala commented on #1223
At this point we crash reporter prompt on step 3,  so I'm inclined to thing that cursor movement is due to panic! Closing this for now, lets reopen after #1224 is fixed if it will still appear broken.

[2016-08-12 20:27] #1223 closed

[2016-08-12 20:30] Gozala commented on #973
@paulrouget It would be nice if we could extract site colors so we could use a major color as background for the icon.

[2016-08-12 21:02] Coder206 commented on #973
@Gozala I like the idea of a personalized icon! I think it's important to make sure the foreground of the icon has a different colour (to avoid an icon of one colour - no contrast)

[2016-08-12 21:03] Coder206 commented on #973
Of course, it would be an unlikely scenario for a well designed website (colour wise)

[2016-08-12 21:09] Coder206 commented on #1217
@paulrouget I think it would be more worth while to put efforts into allowing different default search engines so that people can use the one they feel comfortable with initially - instead of having to search for it with another search engine or type it out.

[2016-08-12 22:30] #1165 closed

[2016-08-13 03:31] vhaarr opened #1232 "PaintThread PipelineId { namespace_id: PipelineNamespaceId(0), index: PipelineIndex(0) }, at ../src/libcore/result.rs:788)"
Immediately after doing git clone + ./mach bootstrap-rust --force + ./mach build --release, I get the following console output when I run ./mach run --browswerhtml -r:
[code]

[2016-08-13 04:53] paulrouget commented on #1230
I'll look.

[2016-08-14 02:53] Coder206 commented on #884
@gordonbrander @paulrouget Is there anything I can help out with here?

[2016-08-15 00:31] paulrouget commented on #884
I think we want to wait the Browser API v2 to understand how this will work.

[2016-08-15 00:38] Coder206 commented on #884
@paulrouget Alright!

[2016-08-15 01:30] paulrouget commented on #1232
See https://github.com/servo/servo/issues/12791

[2016-08-15 01:30] #1232 closed

[2016-08-15 01:58] paulrouget commented on #1230
Not surprising.

We enabled sandboxing. https://github.com/servo/servo/issues/12869

[2016-08-15 01:58] #1230 closed

[2016-08-15 01:59] paulrouget commented on #1230
I'm about to disable multiprocess and sandboxing to address 3 recent regressions. See https://github.com/servo/servo/issues/12868

[2016-08-17 14:15] Coder206 commented on #1221
I would like to help implement this.

[2016-08-17 17:30] Gozala commented on #503
Ok anyone who wants to help out here are the [wireframes](https://github.com/browserhtml/browserhtml/releases/download/0.15.0/wireframes.pdf) for context menus see page 20.

[2016-08-17 17:30] #1217 closed

[2016-08-17 17:30] Gozala commented on #1217
We decided to do nothing for now

[2016-08-17 17:31] Gozala commented on #1186
Closing as I have not heard anything back.

[2016-08-17 17:31] #1186 closed

[2016-08-17 17:34] Gozala commented on #1154
Wo are not listening to any key events other than `Cmd/Control + ArrowLeft/ArrowRight` which is why it does not work. If someone want's to investigate what events are supposed to dispatch on such keys (by looking at firefox source) and then hooking them up, I'm happy to mentor.

[2016-08-17 17:35] Gozala commented on #1101
@paulrouget If we could bump a priority for this one in servo that would be great!

[2016-08-17 17:37] Gozala commented on #1086
If someone want's to work on it I'm happy to mentor.

[2016-08-17 18:30] moosingin3space commented on #1154
Unfortunately, I no longer have access to the mouse in question, but it did work in Firefox. Is this a bug in browser.html or in Servo?

[2016-08-17 21:21] Gozala commented on #1154
We definitely don't hook into anything other than what I mentioned earlier so it's definitely a bug in browser.html. That being said there also could be a bug in servo but it's difficult to say. Someone with such mouse needs to investigate

Typed on tiny keyboard

[2016-08-17 22:34] Gozala commented on #1050
This is pretty straight forward work if someone wants to contribute.

[2016-08-17 22:36] Gozala commented on #1038
was fixed by #1087

[2016-08-17 22:36] #1038 closed

[2016-08-17 22:36] Coder206 commented on #1050
@Gozala I would like to contribute to this issue

[2016-08-17 22:36] #973 closed

[2016-08-17 22:45] Gozala commented on #1050
@Coder206 it's all yours :)

[2016-08-17 22:46] Gozala commented on #1221
@Coder206 Thanks! But I would suggest to hold on with it for now. I'm having second thoughts on this as we were planning to add swipe based interaction to the sidebar, so you could slide it in / out to reveal / hide tabs. But if rewrite sidebar animation in CSS it would only make it more complicated :(

I am so sorry for constantly telling you please don't. How about we'll triage issues and identi

[2016-08-18 01:36] Coder206 commented on #1086
@Gozala If you don't mind, I'll take it.

[2016-08-18 01:46] Coder206 commented on #1221
@Gozala It's fine! I understand the circumstances.

[2016-08-18 08:39] paulrouget commented on #1154
There are native goback goforward key events. We need to support them. Later though.

[2016-08-18 09:22] paulrouget commented on #1101
Fixed in Servo master.

[2016-08-18 09:22] #1101 closed

[2016-08-18 19:54] Gozala opened #1238 "Comply with standard JS style"
We should empty [Standard](http://standardjs.com) JS style going forward as it is quite popular has a lot of users and contributors.

[2016-08-18 19:56] Gozala commented on #1238
This work is semi-blocked by #1236 as I would like to do all the renaming before we go ahead with any kind of mass reformatting. That being said I still can do an exploratory work as it's unlikely to be straight forward task. I'll be updating this thread as I make progress on this.

[2016-08-18 20:02] Gozala commented on #1238
Alright standard with flow type annotations is not straight forward but seems possible:

1. You configure [standard to use custom parser](http://standardjs.com/#can-i-use-a-custom-js-parser-for-bleeding-edge-es6-or-es7-support).
2. You can use [babel-eslint](https://github.com/babel/babel-eslint) parser with [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) to parse files w

[2016-08-18 20:05] Gozala commented on #1238
Now unfortunately `standard src/browser.js --fix` seems to not quite handle job properly:

1. It fixes only some things but keeps reporting about more issues.
2. It seems to do incorrect changes with comment blocks.
3. It does not optimize imports but keeps complaining about them.

[2016-08-18 20:09] Gozala commented on #1238
Unfortunately we've hit the difficult one https://github.com/gajus/eslint-plugin-flowtype/issues/72 so even if we reformat everything standard will still complain about duplicate errors when type and value is imported from the same module with a separate imports.

I will look I there is a way to fix it, alternatively at least this case can be worked around.

[2016-08-18 20:45] Gozala commented on #1238
Alright turns out there is a workaround, we could [configure duplicate import errors](https://github.com/feross/standard#can-you-make-rule-x-configurable) to be disabled. Unfortunately that requires using [eslint](http://eslint.org) (which is what standard uses under the hood) + [eslint-config-standard](https://github.com/feross/eslint-config-standard) with all the rules imposed by standard + over

[2016-08-18 23:01] Gozala commented on #1238
Ok wrote a small JS formatter that uses [babel/babylon](https://github.com/babel/babylon) parser to turn code into AST and [babel-generator (https://github.com/babel/babel/tree/master/packages/babel-generator) to generate JS code back from AST and exposed all this as tonic endpoint: https://tonicdev.com/gozala/57b62b7f61e23e1400e485e7

So I could reformat code as follows:

[code]

Resulting file t

[2016-08-19 00:20] Gozala commented on #1238
Ok so I have being looking around and messing around with different tools and [esformatter](https://github.com/millermedeiros/esformatter) [looks promising](https://tonicdev.com/gozala/57b62b7f61e23e1400e485e7) at least I got it to reformat code without issue 1, I'll have to play with it more to find out if it could actually be used to reformat all of our code.

[2016-08-19 16:24] Gozala commented on #1238
As someone pointed out on babel's slack channel it might be a better option to implement ESLint --fix that would cover comma-errors rather than other options I've considered. I have submitted an issue https://github.com/eslint/eslint/issues/6941 & if someone will guide me and it will turn out to be not too large of a project I can pursue that route as well.

[2016-08-19 16:27] Gozala opened #1240 "Setup standardjs to enforce it's style on new files"
Nobel goal #1238 of reformatting all of the existing code to comply  with standard is really cool, but in the meantime it would make sense to enforce standard at least on new files. This is what this issue is about.

[2016-08-19 16:28] Gozala commented on #1238
Ok in the meantime we should at least enforce standard style on new files, so I opened #1240 to do so.

[2016-08-19 17:53] Gozala commented on #1240
Unfortunately https://github.com/babel/babel-eslint/issues/366 seems like an issue we'd need to deal with before actually linking our code.

[2016-08-19 18:46] Gozala opened #1242 "Reformat code to follow standard"
Ok so once #1241 lands we'll be linting all new code to comply with standard style. Unfortunately automatically reformatting all of the existing code tracked by #1238 seems far from trivial task and still unclear if it's a worthy effort.

Alternative approach would be to just run a lint file by file and address errors programmatically or manually. As far as I can tell `eslint --fix ./path/to/file.

[2016-08-19 18:51] Gozala commented on #1238
Alright had bunch of conversation on different issues blocking this with maintainers of relevant projects. Created #1240 that workarounds some issues and enables standard for all new code. Have also created #1242 as an alternative way to gradually move code base in compliance with standard with a help of contributors. I'll close #1242 if I manage to automate the process.

[2016-08-19 23:03] Gozala commented on #1238
I feel like I'm falling into trap of thinking the writing my own code generator from AST would be easier than try to fix bugs I run into with esformatter. I'm starting to doubt if just going #1242 will be more effective.

[2016-08-24 19:58] #1240 closed

[2016-08-26 01:33] Coder206 commented on #1050
@Gozala I think this can be closed.

[2016-08-26 01:33] Coder206 commented on #1050
(when you get a chance)

[2016-08-26 01:43] Coder206 commented on #503
@Gozala I am interested in working on this.

[2016-08-31 08:51] onurtemizkan commented on #1242
Hey @Gozala , I'm going to work on this. But just to be sure, you prefer one PR for each file, right? It would be a lot easier if I submit a PR for each directory of files. What do you think?

[2016-08-31 23:58] Coder206 commented on #1086
@Gozala I would like to help out here.

[2016-09-02 03:44] Gozala commented on #1242
Thanks that would really great!

If it's just formatting changes (as it should be) I don't mind multiple files or even all files in one PR.

Only reason I think file by file PRs would be better though is because that would reduce possibility of merge conflicts.

[2016-09-06 21:14] Gozala commented on #842
Here is the previous issue on file #502 and an implementation that was in place #650 before we removed this feature due to lack of gesture support in servo.

[2016-09-06 21:27] Gozala opened #1247 "Swipe gestures"
In order to implement / revive  #842  we need to be able to receive swipe gestures from servo. Or maybe an overscroll events that @paulrouget brought up in the past. wheel events may be another option if we can figure out somehow when there's nothing to scroll in the page itself.

I believe on servo side this would be servo/servo#6226 for swipe gestures. And something to be able to receive events

[2016-09-06 21:40] Gozala commented on #1247
Also I remember @gordonbrander talking suggesting to just implement [Pointer Events](https://www.w3.org/TR/pointerevents/#pointerevent-interface) for touchpads which would essentially give us swipe gestures (on any number of fingers) without designing our proprietary swipe gesture API.

[2016-09-06 22:09] Gozala commented on #982
I wonder if #1247 could provide an alternative way to go about it ? Or possibly a wheel events servo/servo#11435 could be yet another option ?

[2016-09-06 22:23] Gozala opened #1248 "API for extracting data from the navigated site"
If we want to explore [The Future of Browser History](https://medium.freecodecamp.com/browserhistory-2abad38022b1#.pf64nbb63) we need a way to extract certain contents from the visited sites. In gecko we hacked together #332 in Servo we have nothing so far.

We would be great if solution will be compatible with work done on context graph side, which I believe would be:

https://github.com/mozilla/

[2016-09-07 07:11] paulrouget commented on #982
The proper way of doing is to be able to move the toolbar in the compositor based on the content scroll position. We want to achieve iOS-like animations (see toolbar animation in Safari).

To do so, we need to be able to transform the titlebar's div based on the content scroll position.

No specification allow us to fully do that yet, but the Houdini is close enough.

I'm working on [a draft](http

[2016-09-07 07:15] paulrouget commented on #1248
So beside being able to execute content script, what else is needed?

[2016-09-07 07:34] paulrouget commented on #1247
To achieve #842, we will need gesture events support in the compositor, and we should use CompositorWorkers to move the viewport elements.

I'm working on a draft describing this.

[2016-09-07 18:35] Gozala commented on #982
@paulrouget That sounds like a long term project that would give us an ideal solution. I think we still want something in the meantime that may not be perfect but usable.

[2016-09-07 18:39] Gozala commented on #1248
Communicate back with a browser.html I have not looked into context-graph code yet to be able to tell exactly what they depend on.

Another thing that would really help would be a pixel data, maybe it could be included on first paint ? Or have an API to manually request it. So we could paint titlebar in the same color. From what I can tell metadata based approach rarely gives us desired rusts.

[2016-09-07 18:41] Gozala commented on #1248
To be more clear I think doing whatever we had in Gecko as short term solution before we get browsing API 2.0 would be a good enough intermediate solution.

[2016-09-08 03:15] paulrouget commented on #1248
Understood.

[2016-09-12 08:22] paulrouget opened #1249 "Get pixel data from content"
from #1248:

[2016-09-12 08:23] paulrouget commented on #1248
Let's use this issue for `executeScript`. For pixel data: https://github.com/browserhtml/browserhtml/issues/1249

[2016-09-12 08:28] paulrouget commented on #1249
@Gozala - for the color, we can probably get a raw bitmap, but that wouldn't be efficient, and prone to error (when do you take the screenshot?). If the goal is to paint the toolbar of the exact same color of the content, do we want that color to be updated on scroll? Or it's just to match the top of the page?

[2016-09-12 08:30] paulrouget commented on #1249
Reloated from #973:

[2016-09-14 10:33] paulrouget commented on #1248
See https://github.com/servo/servo/issues/13263

[2016-09-14 10:34] paulrouget commented on #1247
See my comment here: https://github.com/servo/servo/issues/6226#issuecomment-246967723

[2016-09-14 10:46] paulrouget commented on #1249
See https://github.com/servo/servo/issues/13264

[2016-10-11 23:07] Gozala opened #1255 "Write specification for scrolling right past page content"
Spec for http://patrykadas.me/mex/previous

[2016-10-11 23:09] Gozala opened #1256 "Specification for providing information about hovered link"
Spec for https://youtu.be/sKCTzRDAvuw

[2016-10-11 23:12] Gozala opened #1257 "Specification for scrolling through tabs when scrolling past page content"

[2016-10-13 09:59] patrykadas commented on #1255
Back transition animation:
https://www.youtube.com/watch?v=A8YoaE-gMg8
For the purpose of animation I have used longpress & drag, because Framer does not support trackpad really well, however our trigger is swipe with two/three fingers.

Rubber Effect Framer example:
http://share.framerjs.com/xnmvnegqczg1/
As above, it works with longpress + drag.

[specification.pdf](https://github.com/browserhtm

[2016-10-13 13:41] paulrouget commented on #1255
Thanks for putting all of that together. Some comments:

General comment:

I think you should not use width percentages as reference for opacity and scale changes. That would change the snap threshold depending on the browser size. I would use absolute pixels, and percentage of that threshold to define opacity and scale.

Page 2:

What do you mean "page is released"? Does it include the momentum s

[2016-10-13 13:58] patrykadas commented on #1255
You are right, that's a good point - I am still used to designing pages I guess.

Swipe is released, you stop touching trackpad.

Opacity of the URL box in navigation bar is changing, as seen in video.

Ok, that's clear then.

I agree, I thought we have to define our own values.

I also agree with @Gozala comment:

...and before going with final documentation I wanted to experiment with different

[2016-10-13 14:02] paulrouget commented on #1255
Thanks for the comments.

Just to be clear: scroll events still happen even though your fingers are not on the trackpad anymore. When you release your fingers, there is inertia, and some more events still happen until the delta reaches 0. These are scroll "momentum" or "fling" events.

[2016-10-14 15:41] patrykadas commented on #1256
I think that we have to handle both at the same time: hovering a link and clicking it.

In terms of transition: I believe that the current problem is that pages are swaping, instead of switching - If it wasn’t for learnt behavior I would be unable to figure out that swipe back means going to the previous page, as they are both in the same place, there is no physical movement nor any other indicato

[2016-10-14 17:25] Gozala commented on #1255
IMO Safari does one neat thing that I would like to carry over, which is while there is a threshold unless you release fingers page won't slide out. That is really helpful if you want to take a pick at previous page but don't like to actually go back. In summary:

1. If you release fingers pass threshold and previous page is sliding forward it will slide over current page (go back happens).
2. If

[2016-10-14 18:03] Gozala commented on #1255
# Decoupling titlebar from history entries

I do not like this direction because I see titlebar as part of each entry. For example if we end up (and I hope we will) displaying a grid in the "overview" (view with sidebar open) then you'd want to display titles of each entry attached to them. But if you change model to single titlebar per tab then that does not fit as well. There is also a thing wit

[2016-10-14 18:46] Gozala commented on #1256
I agree in terms of designing a feature, implementation wise it may make sense to do them in two steps though.

I agree actually we had few ideas in this regard:

https://drive.google.com/file/d/0B1az_KF0ZYc_NThWREg5SDB3aE0/view?usp=sharing
https://drive.google.com/file/d/0B1az_KF0ZYc_WlFxUmhhMFJZQmc/view?usp=sharing
https://drive.google.com/file/d/0B1az_KF0ZYc_eXh1R20wVjNnX1U/view?usp=sharing
htt

[2016-10-14 18:48] Gozala commented on #1256
Oh I get it now. It opened link in the background tab! To be honest I just guessed it from the description visual feedback was really unclear to me.

[2016-10-17 09:11] patrykadas commented on #1256
Thank you for the feedback!

In terms of loading a page, I think we should treat the transition horizontally, as afterwards you are sliding left / right to access previous page, not scrolling top / bottom. I would love to show user a movement in the history and at the same time indicate what can be done (slide to access previous page).

I agree with everything else and I am preparing prototypes.

[2016-10-17 14:18] Gozala commented on #1256
I think so too! Maybe once load is new page can squeeze in from top / bottom pushing current page to the left slide which could give it a more natural horizontal feel ?

Typed on tiny touchscreen

[2016-10-17 18:01] Gozala commented on #1256
@patrykadas I have being thinking about this more and I think that showing titlebar for hovered / clicked link behind the current tab at the top of it has really nice properties:

- If you click a link once it's loaded we can slide current page to the left squeezing new page into the center of the view. This makes it somewhat intuitive that previous page is on the left so if you keep scrolling you

[2016-10-17 18:17] Gozala opened #1258 "Include event.target for `mozbrowseroverscroll` events"
It would really help if we could include `event.target` for `mozbrowseroverscroll` events otherwise it is unclear which element is being scrolled, especially when there is nesting of overflowing elements. Even if only mozbrowser elements triggered those events it would be helpful to detect which one it is given that we maybe displaying multiple of them at the same time.

[2016-10-17 18:23] patrykadas commented on #1255
I agree with most, I wanted to detach it, as there are going to be interface elements that corelates strictly to the browser (switching to "overview mode" is not a page's attribute), but actually we can just decouple those elements, leaving titlebar as element of page.

I agree and I am working on it.
![too](https://cloud.githubusercontent.com/assets/6234032/19449675/d8d218c8-94a6-11e6-9b5d-ee7dfe

[2016-10-17 18:29] Gozala commented on #1255
Do you think placing sidebar to the left would help here ?

[2016-10-17 18:44] patrykadas commented on #1255
I don't think that the position of the sidebar (left - right) is relevant here, as long as it is expanded it gives clear message that there is no page behind nor forward.

[2016-10-17 18:48] patrykadas commented on #1256
I agree, I've tried to do it here:
https://youtu.be/ySMzOv65m30?t=7s

Should a new tab be above current page, or is it to the right? IMO it's a part of the future and I would rather access it by swiping

Not sure about this one, dunno if it needs user's action - I will try to prototype that to get better understanding. Perhaps, as we already know what page is being loaded, just the tiny progress b

[2016-10-18 04:34] paulrouget commented on #1258
Target would be the element under the mouse. Isn't it always the iframe?

[2016-10-18 06:02] paulrouget opened #1259 "overscroll build crash when showing sidebar"
[code]

[2016-10-18 06:03] paulrouget opened #1260 "investigate rendering issue"
See https://output.jsbin.com/hobazen

[2016-10-18 06:03] leeoniya commented on #1259
fix literally just merged?

https://github.com/servo/webrender/pull/447

[2016-10-18 06:04] paulrouget commented on #1259
yeah just saw that :)

[2016-10-18 06:04] #1259 closed

[2016-10-18 08:41] paulrouget commented on #1258
If overscroll can be triggered by any other part of the UI, that means I can't use a mozbrowser event and need to introduce a new type of DOM event.

[2016-10-18 11:07] patrykadas commented on #1255
https://www.youtube.com/watch?v=F9WfIpKakZk

This is the visualization of back functionality. At first, user is able to glance at previous page, but if user keeps scrolling, we zoom out the whole container.

[2016-10-18 11:30] patrykadas commented on #1256
Based on your comment this is how I understand our grid. This fits really well with everything else we'd discussed.

![grid](https://cloud.githubusercontent.com/assets/6234032/19475967/f7f9f442-9536-11e6-814f-e1265cf122a3.jpg)

[2016-10-18 15:59] Gozala commented on #1258
That is not the case if I'm moving that iframe with an events.

I was under impression it was dispatch for all overflowing content, but probably I was wrong. Either way still would be very helpful to make `event.target` a specific iframe rather that relay on mouse being over it since we also put overlays with `pointer-events: none` and also move iframe with these events so it's not all that simple

[2016-10-18 17:38] Gozala commented on #1260
Here is one issues: https://github.com/servo/servo/issues/13819

[2016-10-18 18:06] Gozala commented on #1260
https://github.com/servo/servo/issues/13822

[2016-10-19 05:15] paulrouget commented on #1258
Understood.

Let me describe the logic:

Scroll happens. Servo  sees if there's something to scroll under the mouse. If there's nothing to scroll, Servo finds the element under the mouse that is not `pointer-events:none`, and fire a overscroll event for that element. This event only happens for top level window (doesn't work within iframe), which means, the `<iframe>` will fire a overflow event.

[2016-10-20 10:51] patrykadas commented on #1256
I was playing around with different effects and directions.

## Failed attempts
https://www.youtube.com/watch?v=aHTD-u7YD04
^ Hover link, my only objection would be that it may take too much space to display whole bar.
It’s grey at first, then it transforms to particular color (red/orange/green). However, there is a mistake in the video - once we got the information about the security of the link,

[2016-10-20 17:48] Gozala commented on #1256
@patrykadas Are you decided on displaying info at the bottom VS at the top or you just have not got to try that direction yet ?

I think I like `target=_blank` animation especially one where current page does not move, that being said I'm not sure that message there is really intuitive though would be interested how others would react to this. I also remember a lot of thought and justification was

[2016-10-20 17:50] Gozala commented on #1256
Also we really need to work out what do we do when you hit escape while clicked link is loading.

[2016-10-21 09:10] paulrouget commented on #1258
I think we should fix this first: https://github.com/servo/servo/issues/1715

[2016-10-21 15:41] patrykadas commented on #1256
I am not, however my main argument would be that users usually switch pages, once they completed reading current one, which means they are, in most cases, at the bottom of the current page. It would work in exactly the same way as, let's say - related content.

I was just really worried about occupying too much space, if there are many links and perhaps I just want to 'scan' them fast, constantly

[2016-10-24 10:39] patrykadas commented on #1256
Normal link:
https://www.youtube.com/watch?v=LWngrrw8bU8

Target blank or control/cmd:
https://www.youtube.com/watch?v=ty-gOddE5EQ

[2016-10-25 18:55] Gozala commented on #1256
I think like the animation, but I also think it requires a polishing. Here are some of the questions it raises:

1. Spatial model is confusing, so titlebar is overlayed with a new titlebar and once page is loaded somehow old titlebar is uncovered from the back as page is detached.  I guess that is possible if three were thee layers in following stacking 1. Next Page. 2. Current Page. 3. Current Pa